{% extends "baseBoot4.html" %}
{% load staticfiles %}

{% block seo_block %}
    <title>Проект по подготовке к экзаменам по информатике и программированию egoroff_channel</title>
    <meta name="description" content="Сайт содержит материалы по подготовке: к ЕГЭ по информатике;
к ОГЭ по информатике; к экзаменам по программированию. Содержатся задания, тесты и видеоразборы
по ЕГЭ Информатика, ОГЭ Информатика. Курсы по языку программирования Python.">
    <meta name="keywords" content="egorov channel python,egoroff channel,Информатика,ЕГЭ информатика,Егэ по информатике,егэ информатика подготовка,огэ информатика,
огэ по информатике,огэ по информатике подготовка,программирование python,python уроки">
{% endblock %}

{% block content %}
    <section class="hero-area bg-img bg-overlay-2by5"
             style="background-image: url('{% static "base_static/img/bg-img/bg1.jpg" %}');">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <!-- Hero Content -->
                    <div class="hero-content text-center">
                        <h1>Информатика и Программирование</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Hero Area End ##### -->

    <!-- ##### Popular Courses Start ##### -->
    <section class="popular-courses-area section-padding-100-0"
             style="background-image: url('{% static "base_static/img/core-img/texture.png" %}');">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h3>Онлайн подготовка к информатике</h3>
                    </div>
                </div>
            </div>

            <div class="row">

                 <!-- Single Popular Course -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <img src="{% static 'base_static/img/bg-img/c2.jpg' %}" alt="">
                        <!-- Course Content -->
                        <div class="course-content">
                            <h4>Программирование на языке Python</h4>
                            <div class="meta d-flex align-items-center">
                                <a href="#">Видеоуроки</a>
                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                <a href="#">Практические задания</a>
                            </div>
                            <p>Мечтаешь научиться программировать? Мой курс, состоящий из видеоуроков и заданий для
                            самостоятельного решения, может тебе в этом помочь</p>
                        </div>
                        <!-- Seat Rating Fee -->
                        <div class="seat-rating-fee d-flex justify-content-between">
                            <div class="seat-rating h-100 d-flex align-items-center">

                                <div class="videos">
                                    <i class="fa fa-video-camera" aria-hidden="true"></i> {{ countPythonVideos }}
                                </div>
                            </div>
                            <div class="course-fee h-100">
                                <a href="{% url 'videos:videos_python_all' %}" class="free">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>


                 <!-- Single Popular Course -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <img src="{% static 'base_static/img/bg-img/c5.jpg' %}" alt="">
                        <!-- Course Content -->
                        <div class="course-content">
                            <h4>Курс изучения Python на Stepic</h4>
                            <div class="meta d-flex align-items-center">
                                <a href="#">Видеоуроки</a>
                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                <a href="#">Практические задания</a>
                            </div>
                            <p>В данном курсе иделаьно совмещаются мои обучающие видео с практическими заданиями,
                            результаты которых вы сразу можете увидеть благодаря автоматической системе проверки.</p>
                        </div>
                        <!-- Seat Rating Fee -->
                        <div class="seat-rating-fee d-flex justify-content-between">
                            <div class="seat-rating h-100 d-flex align-items-center">
                                <div class="tasks">
                                    <i class="fa fa-tasks" aria-hidden="true"></i> 54
                                </div>
                                <div class="videos">
                                    <i class="fa fa-video-camera" aria-hidden="true"></i> 41
                                </div>
                            </div>
                            <div class="course-fee h-100">
                                <a href="https://stepik.org/course/63085/promo" class="free" target="_blank">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>

                 <!-- Single Popular Course -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <img src="{% static 'base_static/img/bg-img/gamedev.png' %}" alt="">
                        <!-- Course Content -->
                        <div class="course-content">
                            <h4>Делаем игры c Python и Pygame</h4>
                            <div class="meta d-flex align-items-center">
                                <a href="#">Видеоуроки</a>
                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                <a href="#">Практические задания</a>
                            </div>
                            <p>Посмотрим на практике как можно применить циклы, условия, переменные, функции и все остальное,
                            что мы изучали в основном курсе в процессе создания компьютерной игры.</p>
                        </div>
                        <!-- Seat Rating Fee -->
                        <div class="seat-rating-fee d-flex justify-content-between">
                            <div class="seat-rating h-100 d-flex align-items-center">

                                <div class="videos">
                                    <i class="fa fa-video-camera" aria-hidden="true"></i> {{ countPYGAMEVideos }}
                                </div>
                            </div>
                            <div class="course-fee h-100">
                                <a href="{% url 'videos:videos_pygame_all' %}" class="free">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>


                 <!-- Single Popular Course -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <img src="{% static 'base_static/img/bg-img/c4.jpg' %}" alt="">
                        <!-- Course Content -->
                        <div class="course-content">
                            <h4>Графика в Python</h4>
                            <div class="meta d-flex align-items-center">
                                <a href="#">Видеоуроки</a>
                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                <a href="#">Практические задания</a>
                            </div>
                            <p>Посмотрим на практике как можно применить циклы, условия, переменные, функции и все остальное,
                            что мы изучали в основном курсе. Масса интересных примеров и разработка графических игр ждет вас
                            этом курсе.</p>
                        </div>
                        <!-- Seat Rating Fee -->
                        <div class="seat-rating-fee d-flex justify-content-between">
                            <div class="seat-rating h-100 d-flex align-items-center">

                                <div class="videos">
                                    <i class="fa fa-video-camera" aria-hidden="true"></i> {{ countTURTLEVideos }}
                                </div>
                            </div>
                            <div class="course-fee h-100">
                                <a href="{% url 'videos:videos_turtle_all' %}" class="free">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Popular Course -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="250ms">
                        <img src="{% static 'base_static/img/bg-img/c1.jpg' %}" alt="">
                        <!-- Course Content -->
                        <div class="course-content">
                            <h4>ЕГЭ Информатика</h4>
                            <div class="meta d-flex align-items-center">
                                <a href="#">Задания</a>
                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                <a href="#">Видеоразборы</a>
                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                <a href="#">Варианты</a>
                            </div>
                            <p>Планируешь сдавать ЕГЭ по информатике? Тогда тебе сюда!</p>
                        </div>
                        <!-- Seat Rating Fee -->
                        <div class="seat-rating-fee d-flex justify-content-between">
                            <div class="seat-rating h-100 d-flex align-items-center">
                                <div class="tasks">
                                    <i class="fa fa-tasks" aria-hidden="true"></i> {{ CountTaskEGE }}
                                </div>
                                <div class="videos">
                                    <i class="fa fa-video-camera" aria-hidden="true"></i> {{ countEGERazbor }}
                                </div>
                            </div>
                            <div class="course-fee h-100">
                                <a href="{% url 'ege:base_ege' %}" class="free">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>



                <!-- Single Popular Course -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="750ms">
                        <img src="{% static 'base_static/img/bg-img/c3.jpg' %}" alt="">
                        <!-- Course Content -->
                        <div class="course-content">
                            <h4>ОГЭ Информатика</h4>
                            <div class="meta d-flex align-items-center">
                                <a href="#">Задания</a>
                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                <a href="#">Видеоразборы</a>
                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                <a href="#">Варианты</a>
                            </div>
                            <p>Планируешь сдавать ОГЭ по информатике? Переходи по ссылке, чтобы узнать подробности!</p>
                        </div>
                        <!-- Seat Rating Fee -->
                        <div class="seat-rating-fee d-flex justify-content-between">
                            <div class="seat-rating h-100 d-flex align-items-center">
                                <div class="tasks">
                                    <i class="fa fa-tasks" aria-hidden="true"></i> {{ CountTaskOge }}
                                </div>
                                <div class="videos">
                                    <i class="fa fa-video-camera" aria-hidden="true"></i> {{ countOGERazbor }}
                                </div>
                            </div>
                            <div class="course-fee h-100">
                                <a href="{% url 'oge:base_oge' %}" class="free">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Popular Courses End ##### -->


{% endblock %}
