{% extends "baseBoot4.html" %}

{% block seo_block %}
    <title>Подготовка к ЕГЭ по Информатике 2019. Репетитор Егоров Артем. egoroff_channel</title>
    <meta name="description" content="Успешно подготовьтесь к сдаче ЕГЭ по информатике.
    Решайте только актуальные задачи.Выбирайте вариант тестирования: либо целый вариант,
    либо выполните тест по конкретной теме. На сайте имеется более 10 пробных вариантов по ЕГЭ информатике">
    <meta name="keywords" content="ЕГЭ информатика, Тесты по информатике, Онлайн тесты,
    задания по информатике, Пробный вариант">
{% endblock %}


{% block content %}
    <!-- ##### Hero Area Start ##### -->
    <section class="hero-area bg-img bg-overlay-2by5"
             style="background-image: url('{{ STATIC_URL }}static/img/bg-img/bg1.jpg');">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <!-- Hero Content -->
                    <div class="hero-content text-center">
                        <h2>Готовимся к информатике вместе!</h2>
                        {#                        <a href="#" class="btn clever-btn">Get Started</a>#}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Hero Area End ##### -->

    <!-- ##### Popular Courses Start ##### -->
    <section class="popular-courses-area section-padding-100-0"
             style="background-image: url('{{ STATIC_URL }}static/img/core-img/texture.png');">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h3>Онлайн подготовка к информатике</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Popular Course -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="250ms">
                        <img src="{{ STATIC_URL }}static/img/bg-img/c1.jpg" alt="">
                        <!-- Course Content -->
                        <div class="course-content">
                            <h4>ЕГЭ Информатика</h4>
                            <div class="meta d-flex align-items-center">
                                <a href="#">Задания</a>
                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                <a href="#">Видеоразборы</a>
                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                <a href="#">Варианты</a>
                            </div>
                            <p>Планируешь сдавать ЕГЭ по информатике? Тогда тебе сюда!</p>
                        </div>
                        <!-- Seat Rating Fee -->
                        <div class="seat-rating-fee d-flex justify-content-between">
                            <div class="seat-rating h-100 d-flex align-items-center">
                                <div class="tasks">
                                    <i class="fa fa-tasks" aria-hidden="true"></i> {{ CountTaskEGE }}
                                </div>
                                <div class="videos">
                                    <i class="fa fa-video-camera" aria-hidden="true"></i> {{ countEGERazbor }}
                                </div>
                            </div>
                            <div class="course-fee h-100">
                                <a href="{% url 'ege:base_ege' %}" class="free">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Popular Course -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <img src="{{ STATIC_URL }}static/img/bg-img/c2.jpg" alt="">
                        <!-- Course Content -->
                        <div class="course-content">
                            <h4>Программирование на языке Python</h4>
                            <div class="meta d-flex align-items-center">
                                <a href="#">Видеоуроки</a>
                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                <a href="#">Практические задания</a>
                            </div>
                            <p>Мечтаешь научиться программировать? Мой курс, состоящий из видеоуроков и заданий для
                            самостоятельного решения, может тебе в этом помочь</p>
                        </div>
                        <!-- Seat Rating Fee -->
                        <div class="seat-rating-fee d-flex justify-content-between">
                            <div class="seat-rating h-100 d-flex align-items-center">

                                <div class="videos">
                                    <i class="fa fa-video-camera" aria-hidden="true"></i> {{ countPythonVideos }}
                                </div>
                            </div>
                            <div class="course-fee h-100">
                                <a href="{% url 'videos:videos_python_all' %}" class="free">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Popular Course -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="750ms">
                        <img src="{{ STATIC_URL }}static/img/bg-img/c3.jpg" alt="">
                        <!-- Course Content -->
                        <div class="course-content">
                            <h4>ОГЭ Информатика</h4>
                            <div class="meta d-flex align-items-center">
                                <a href="#">Задания</a>
                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                <a href="#">Видеоразборы</a>
                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                <a href="#">Варианты</a>
                            </div>
                            <p>Планируешь сдавать ОГЭ по информатике? Переходи по ссылке, чтобы узнать подробности!</p>
                        </div>
                        <!-- Seat Rating Fee -->
                        <div class="seat-rating-fee d-flex justify-content-between">
                            <div class="seat-rating h-100 d-flex align-items-center">
                                <div class="tasks">
                                    <i class="fa fa-tasks" aria-hidden="true"></i> {{ CountTaskOge }}
                                </div>
                                <div class="videos">
                                    <i class="fa fa-video-camera" aria-hidden="true"></i> {{ countOGERazbor }}
                                </div>
                            </div>
                            <div class="course-fee h-100">
                                <a href="{% url 'oge:base_oge' %}" class="free">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Popular Courses End ##### -->


{% endblock %}
