{% extends "baseBoot4.html" %}
{% load staticfiles %}
{% block seo_block %}
    <title>Регистрация пользователя</title>
    <meta name="description" content="Страница для регистрации пользователей на сайте www.egoroffartem.ru">
    {#    <meta name="keywords" content="{{ number_task.seo_keywords }}">#}
{% endblock %}

{% block extracss %}
    <link rel="stylesheet/less" href="{% static 'base_static/css/registration.less' %}" type="text/less">
    <link rel="stylesheet/less" href="{% static 'base_static/css/sidebarMenu.less' %}" type="text/less">
    <link rel="stylesheet/less" href="{% static 'base_static/css/taskCardStyle.less' %}" type="text/less">
    {% if number_task.number in tasks_prism or exam == 'ege_var' or exam == 'oge_var' %}
        <link rel="stylesheet" href="{% static 'css/css/prism.css' %}">
        <script src="{% static 'js/prism.js' %}"></script>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="registration-form">
            <form method="post" style="border:1px solid #ccc">
                {% csrf_token %}
                <div class="container">
                    <h2>Авторизация пользователя</h2>
                    <p>Заполните форму для входа пользователя</p>
                    <hr>

                    {% include 'partitions/_messages.html' %}

                    <label for="username"><b>Логин</b></label>
                    <input type="text" placeholder="Введите Email" name="username" required>

                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Введите пароль" name="psw" required>

                    <label>
                        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
                    </label>

                    <span class="psw float-right "><a href="{% url 'password_reset' %}">Забыли пароль?</a></span>

                    <div class="clearfix">
                        <button type="button" class="cancelbtn">Отмена</button>
                        <button type="submit" class="signupbtn">Войти</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}