{% extends "baseBoot4.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
    <div class="container">
        <div class="registration-form">
            <h2>Восстановление пароля</h2>
            <p>Забыли пароль? Введите свой адрес электронной почты ниже, и мы вышлем вам инструкцию, как установить новый пароль.</p>

            <form action="" method="post">
                <div style="display:none">
                    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                </div>
                {{ form.email.errors }}
                <p><label for="id_email">Адрес электронной почты:</label> {{ form.email }} <input type="submit"
                                                                                         value="Восстановить мой пароль"/></p>
            </form>
        </div>
    </div>
{% endblock %}