.spicok {
  line-height: 1.5;
  list-style-type: none; /* Убираем исходные маркеры */
  counter-reset: item; /* Обнуляем счетчик списка */
  font-size: 16px;
  padding-left: 5%;
  padding-right: 3%;
}

.spicok > li:before {
  content: counter(item) '. '; /* Добавляем к числам скобку */
  counter-increment: item; /* Задаём имя счетчика */
}

.cyrilic {
  list-style-type: none;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 0;
  font-size: 15px;
}

.cyrilic li:nth-child(1)::before {
  content: 'а)';
}

.cyrilic li:nth-child(2)::before {
  content: 'б)';
}

.cyrilic li:nth-child(3)::before {
  content: 'в)';
}

.cyrilic li:nth-child(4)::before {
  content: 'г)';
}

.cyrilic li:nth-child(5)::before {
  content: 'д)';
}

.cyrilic li:nth-child(6)::before {
  content: 'е)';
}

.cyrilic li:nth-child(7)::before {
  content: 'ж)';
}

form {
  padding-bottom: 30px;
}

/*стиль стены*/

.card {
  position: relative;
  padding-left: 15px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 7px;
  margin-bottom: 10px;
  .img-rounded {
    //margin-bottom: 10px;
    //margin-left: 20px;
  }

  .img-rounded:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .oneTable {
    .table {
      font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
      font-size: 14px;
      border-collapse: collapse;
    }

    th, td {
      border-style: solid;
      border-width: 0 1px 1px 0;
      border-color: white;
      text-align: center;
      vertical-align: middle;
    }
    td {
      background: #D8E6F3;
    }
    th:first-child, td:first-child {
      text-align: center;
    }
  }

  .oneTable.oneTableFirstChild {
    th, td:first-child {
      background: #AFCDE7;
      color: white;
      padding: 7px 5px;
    }
  }

  .oneTable.oneTableLastChild {
    th, td:last-child {
      background: #AFCDE7;
      color: white;
      padding: 7px 5px;
    }
  }

  .oneTable.oneTableWithout {
    th {
      font-weight: normal;
      background: #D8E6F3;
    }
  }

  .oneTable.oneTableHeader {
    th {
      background: #AFCDE7;
      color: white;
      padding: 7px 5px;
    }
  }

  .twoTable {
    .table {
      background: #f5ffff;
      border-collapse: collapse;

    }
    th {
      border-top: 1px solid #777777;
      border-right: 2px solid #777777;
      border-bottom: 1px solid #777777;
      box-shadow: inset 0 1px 0 #999999, inset 0 -1px 0 #999999;
      background: linear-gradient(#9595b6, #5a567f);
      color: white;
      text-align: center;
      padding: 3px 5px;
      position: relative;
    }
    th:after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 25%;
      height: 25%;
      width: 100%;
      background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, .08));
    }
    tr:nth-child(odd) {
      background: #ebf3f9;
    }
    th:first-child {
      border-left: 1px solid #777777;
      border-bottom: 1px solid #777777;
      box-shadow: inset 1px 1px 0 #999999, inset 0 -1px 0 #999999;
    }
    th:last-child {
      border-right: 1px solid #777777;
      border-bottom: 1px solid #777777;
      box-shadow: inset -1px 1px 0 #999999, inset 0 -1px 0 #999999;
    }
    td {
      text-align: center;
      border: 1px solid #e3eef7;
      padding: 3px 5px;
      position: relative;
    }
  }

  p {
    font-size: 16px;
    text-indent: 10px;
    line-height: 1.4;
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  }
  pre {
    //border: 1px solid black;
    font-size: 14px;
    margin: 0;
  }
  sub, sup {
    color: red;
    font-size: 13px;
    font-weight: bold;
  }
  .abs_span {
    position: absolute;
    font-size: 16px;
    bottom: 5px;
    right: 2px;
    padding: 0;
    a {
      color: white;

    }
  }
  .abs_spanQuestion{
    position: absolute;
    font-size: 16px;
    top: 5px;
    right: 2px;
    padding: 0;
    a {
      color: white;

    }
  }
  .abs_spanRedact {
    position: absolute;
    font-size: 16px;

    top: 1px;
    left: 1px;
    a {
      color: white;
      margin: 1px;
      padding: 0px;
    }
  }
  @media only screen and (max-width: 767px) {
    .abs_span {
      bottom: 2px;
      right: 5px;

      a {
        font-size: 14px;
        padding: 0 2px;
      }

    }

    p {
      font-size: 14px;
    }
  }
}

.disabledClass{
  pointer-events: none;
  opacity: 0.4;
}