{% extends "baseBoot4.html" %}
{% load staticfiles %}

{% block seo_block %}
    <title>Подготовка к ОГЭ по Информатике 2019. Репетитор Егоров Артем. egoroff_channel</title>
    <meta name="description" content="Онлайн подготовка к ОГЭ по информатике с нуля.
    Все типы заданий ОГЭ Информатика, разборы решений задач из ОГЭ Информатика, пробные варианты ОГЭ по
    информатике, Программирование ОГЭ информатика, Онлайн тесты ОГЭ по информатике, Пробные тесты ОГЭ информатика">
    <meta name="keywords" content="ОГЭ информатика, информатика ОГЭ,ОГЭ по информатике,ОГЭ по информатике с нуля,
ОГЭ по информатике подготовка,ОГЭ по информатике варианты,ОГЭ по информатике задания,ОГЭ информатика алгоритмы,
ОГЭ информатика подготовка,ОГЭ информатика разбор заданий,ОГЭ информатика решение,ОГЭ информатика онлайн">
{% endblock %}
{% block extracss %}
    <link rel="stylesheet/less" href="{% static 'oge/css/oge_home_less.less' %}" type="text/less">
{% endblock %}


{% block content %}

    <div class="single-course-intro d-flex align-items-center justify-content-center"
         style="background-image: url({% static 'img/bg-img/ОГЭ_big-min.jpg' %});">
        <!-- Content -->
        <div class="single-course-intro-content text-center">
            <h3>ОГЭ по Информатике</h3>
            <div id="yakor" class="meta d-flex align-items-center justify-content-center">
                <a href="#tab--1">Задания</a>
                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                <a href="#tab--2">Видеоразборы</a>
                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                <a href="#tab--3">Варианты</a>
            </div>
        </div>
    </div>


    <!-- ##### Courses Content Start ##### -->
    <div class="single-course-content section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="course--content">

                        <div class="clever-tabs-content">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="tab--1" data-toggle="tab" href="#tab1" role="tab"
                                       aria-controls="tab1" aria-selected="false">Задания</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab--2" data-toggle="tab" href="#tab2" role="tab"
                                       aria-controls="tab2" aria-selected="true">Видеоразборы</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab--3" data-toggle="tab" href="#tab3" role="tab"
                                       aria-controls="tab4" aria-selected="true">Варианты</a>
                                </li>
                            </ul>

                            <div class="tab-content" id="myTabContent">
                                <!-- Tab Text -->
                                <div class="tab-pane fade show active" id="tab1" role="tabpanel"
                                     aria-labelledby="tab--1">
                                    <div class="clever-description">

                                        <!-- About Course -->
                                        <div class="about-course mb-30">
                                            <h4>Задания ОГЭ по информатике</h4>
                                            <p>Любой экзамен – неплохая возможность проверить свои знания. Да, ОГЭ по
                                                информатике – это не программирование в чистом виде, это просто база
                                                знаний. Но именно она
                                                может стать вашим первым рывком к получению желаемой работы.
                                            </p>
                                        </div>

                                        <!-- All Instructors -->
                                        <div class="all-instructors mb-30">
                                            <h4>Попрактикуйтесь в решении задач</h4>
                                            <div class="row">
                                                {% for task in tasks %}
                                                    <div class="col-lg-6">
                                                        <div class="single-instructor d-flex align-items-center mb-30">

                                                            <div class="instructor-thumb">
                                                                <img src="{{ task.picture.url }}" alt="">
                                                            </div>
                                                            <a href="{% url 'oge:oge_task_detail' task.number %}">
                                                                <div class="instructor-info">
                                                                    <h6>{{ task }}</h6>
                                                                    <span>{{ forloop.counter }} Задание</span>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Tab Text -->
                                <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab--2">
                                    <div class="clever-curriculum">

                                        <!-- About Curriculum -->
                                        <div class="about-curriculum mb-30">
                                            <h4>Видеоразборы</h4>
                                            <p>В свое время я занимался самостоятельно, тогда не было огромного
                                                количества репетиторов, как сейчас. Занятия такого рода были, скорее,
                                                роскошью, чем нормой. И уж тем более, не было видеоуроков, по которым
                                                намного проще готовиться к экзаменам.</p>

                                            <p> Сейчас же у вас есть возможность выбора. В этом я вам даже завидую, и
                                                готов поддержать. В студенческие годы я и не думал, что сам захочу
                                                обучать кого-то своему делу. Это случилось, и я с удовольствием делюсь с
                                                вами своими видеоразборами, я с вами на связи 24/7. Все для того, чтобы
                                                помочь успешно пройти ваш путь к мечте! </p>
                                        </div>

                                        <!-- Curriculum Level -->
                                        <div class="curriculum-level mb-30">
                                            <h5>Номера заданий</h5>
                                            <ul class="curriculum-list">
                                                {% for video in videos %}
                                                    <a href="{% url 'oge:oge_videotask_ONEtheme' video.number %}">
                                                        <li class="d-flex justify-content-between">
                                                            <span><i class="fa fa-video-camera"
                                                                     aria-hidden="true"></i> {{ video }}</span>
                                                            <span>{{ video.count_videoRazbors }} Видео </span>
                                                        </li>
                                                    </a>
                                                {% endfor %}
                                            </ul>
                                        </div>


                                    </div>
                                </div>

                                <!-- Tab Text -->
                                <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab--3">
                                    <div class="clever-members">

                                        <!-- About Members -->
                                        <div class="about-members mb-30">
                                            <h4>Варианты ОГЭ</h4>

                                            <p>Часть 1 содержит 6 заданий с четырьмя вариантами ответов. 12 заданий, на
                                                которые вам необходимо
                                                дать краткий ответ, 2 задания требуют от вас полного и развернутого
                                                решения на компьютере.</p>


                                            <p>На выполнение экзаменационной работы отводится 3 часа 55 минут (235
                                                минут). На выполнение заданий части 1 рекомендуется отводить 1,5 часа
                                                (90 минут).</p>

                                            <p>Каждое задание части 1 - 1 балл. Задания части 2 оцениваются от 0 до 4
                                                баллов.</p>
                                        </div>

                                        <!-- All Members -->
                                        <div class="all-instructors mb-30">
                                            <div class="row">
                                                <!-- Single Members -->

                                                {% for var in vars %}
                                                    <div class="col-lg-6">
                                                        <div class="single-instructor d-flex align-items-center mb-30">
                                                            <div class="instructor-thumb">
                                                                {#                                                                <img src="img/bg-img/t1.png" alt="">#}
                                                            </div>
                                                            <a href="{% url 'oge:oge_get_var' var.number_var %}">
                                                                <div class="instructor-info">
                                                                    <h5>{{ forloop.counter }} Вариант</h5>
                                                                    <span>Пробный вариант ОГЭ</span>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>


                <div class="col-12 col-lg-3">
                    <div class="course-sidebar ">
                        <!-- Buy Course -->
                        <a target="_blank" href="https://vk.com/topic-116207750_37403077"
                           class="btn clever-btn mb-30 w-100">Задать вопрос</a>
                        <div class="row">

                            <!-- Widget -->
                            <div class="sidebar-widget col-12 col-sm-6 col-lg-12">
                                <h4>Особенности</h4>
                                <ul class="features-list">
                                    <li>
                                        <h6><i class="fa fa-bell" aria-hidden="true"></i> Заданий</h6>
                                        <h6>{{ numAllTask }}</h6>
                                    </li>
                                    <li>
                                        <h6><i class="fa fa-file" aria-hidden="true"></i> Онлайн-тесты</h6>
                                        <h6>{{ tasks|length }}</h6>
                                    </li>
                                    <li>
                                        <h6><i class="fa fa-thumbs-up" aria-hidden="true"></i> Пробные варианты</h6>
                                        <h6>{{ vars|length }}</h6>
                                    </li>
                                    <li>
                                        <h6><i class="fa fa-video-camera" aria-hidden="true"></i> Видеорешения</h6>
                                        <h6>{{ videosOGE }}</h6>
                                    </li>
                                </ul>
                            </div>

                            <!-- Widget -->
                            <div class="sidebar-widget col-12 col-sm-6 col-lg-12">
                                <h4 class="text-center">Donate </h4>

                                <iframe src="https://money.yandex.ru/quickpay/shop-widget?writer=seller&targets=%D0%9F%D0%BE%D0%B4%D0%B4%D0%B5%D1%80%D0%B6%D0%B0%D1%82%D1%8C%20%D0%BF%D1%80%D0%BE%D0%B5%D0%BA%D1%82&targets-hint=&default-sum=100&button-text=13&hint=&successURL=&quickpay=shop&account=410017907063167"
                                        height="222" frameborder="0" allowtransparency="true" scrolling="no"
                                        style="width: 95%; margin: 0 auto;"></iframe>
                            </div>


                            <div class="sidebar-widget col-12 col-sm-6 col-lg-12">
                                <h4 class="text-center">Группа </h4>

                                <script type="text/javascript" src="https://vk.com/js/api/openapi.js?160"></script>

                                <!-- VK Widget -->
                                <div id="vk_groups"></div>
                                <script type="text/javascript">
                                    VK.Widgets.Group("vk_groups", {mode: 3}, 175846566);
                                </script>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>




{% endblock %}

{% block extraJS %}
    <script>
        var openCloseMenu = function (a) {
            if (a == 1) {
                $("#tab--1").addClass("active");
                $("#tab1").addClass("active");
                $("#tab1").addClass("show");
                $("#tab--2").removeClass("active");
                $("#tab2").removeClass("active");
                $("#tab2").removeClass("show");
                $("#tab--3").removeClass("active");
                $("#tab3").removeClass("active");
                $("#tab3").removeClass("show");
            }
            else if (a == 2) {
                $("#tab--1").removeClass("active");
                $("#tab1").removeClass("active");
                $("#tab1").removeClass("show");
                $("#tab--2").addClass("active");
                $("#tab2").addClass("active");
                $("#tab2").addClass("show");
                $("#tab--3").removeClass("active");
                $("#tab3").removeClass("active");
                $("#tab3").removeClass("show");
            }
            else if (a == 3) {
                $("#tab--1").removeClass("active");
                $("#tab1").removeClass("active");
                $("#tab1").removeClass("show");
                $("#tab--2").removeClass("active");
                $("#tab2").removeClass("active");
                $("#tab2").removeClass("show");
                $("#tab--3").addClass("active");
                $("#tab3").addClass("active");
                $("#tab3").addClass("show");
            }
        }


        $(document).ready(function () {
            var a = localStorage.getItem("menuOge");
            if (isNaN(a)) {
                a = 1;
            }
            ;
            openCloseMenu(a);
        });

        $("#tab--1").click(function (e) {
            e.preventDefault();
            localStorage.setItem("menuOge", 1);
            openCloseMenu(1);
        });

        $("#tab--2").click(function (e) {
            e.preventDefault();
            localStorage.setItem("menuOge", 2);
            openCloseMenu(2);
        });

        $("#tab--3").click(function (e) {
            e.preventDefault();
            localStorage.setItem("menuOge", 3);
            openCloseMenu(3);
        });

        $(document).ready(function () {
            $("#yakor").on("click", "a", function (event) {
                event.preventDefault();
                var id = $(this).attr('href'), top = $(id).offset().top;
                $(id).click();
                $('body,html').animate({scrollTop: top}, 1500);
            });
        });

    </script>
{% endblock %}

