{% extends "baseBoot4.html" %}
{% load static %}

{% block seo_block %}
    <title>Услуги: онлайн занятия по программированию, консультации, выполнение работ. От автора канала egoroff_channel</title>
    <meta name="description" content="Услуги на ">
    <meta name="keywords" content="Онлайн занятия по программирования, Онлайн подготовка ЕГЭ по информатике,">
{% endblock %}

{% block content %}
    <!-- ##### Hero Area Start ##### -->
{#    <section class="hero-area bg-img bg-overlay-2by5"#}
{#             style="background-image: url('{% static 'base_static/img/bg-img/bg1.jpg' %}');">#}
{#        <div class="container h-100">#}
{#            <div class="row h-100 align-items-center">#}
{#                <div class="col-12">#}
{#                    <!-- Hero Content -->#}
{#                    <div class="hero-content text-center">#}
{#                        <h1>Услуги</h1>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
    <!-- ##### Hero Area End ##### -->

    <!-- ##### Popular Courses Start ##### -->
    <section class="popular-courses-area section-padding-100-0"
             style="background-image: url('{% static 'base_static/img/core-img/texture.png' %}');">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h3>Услуги</h3>
                    </div>
                </div>
            </div>

            <div class="row">

                 <!-- Single Popular Course -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <img src="{% static 'base_static/img/bg-img/c2.jpg' %}" alt="">
                        <!-- Course Content -->
                        <div class="course-content">
                            <h4>Индивидуальные занятия</h4>
                            <div class="meta d-flex align-items-center">
                                <a href="#">60 минут</a>
                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                <a href="#">1000р</a>
                            </div>
                            <p>Занятия по скайпу с использованием электронной доски, ресурсов и программ.
                        Разбор заданий, объяснение и помощь в устранении пробелов. Занятие длится 60 минут.
                            </p>
                        </div>
                        <!-- Seat Rating Fee -->
                        <div class="seat-rating-fee d-flex justify-content-between">
                            <div class="seat-rating h-100 d-flex align-items-center">

{#                                <div class="videos">#}
{#                                    <i class="fa fa-video-camera" aria-hidden="true"></i> {{ countPythonVideos }}#}
{#                                </div>#}
                            </div>
                            <div class="course-fee h-100">
                                <a href="#" class="free">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>


                 <!-- Single Popular Course -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <img src="{% static 'base_static/img/bg-img/c4.jpg' %}" alt="">
                        <!-- Course Content -->
                        <div class="course-content">
                            <h4>Консультация</h4>
                            <div class="meta d-flex align-items-center">
                                <a href="#">1 неделя</a>
                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                <a href="#">500р</a>
                            </div>
                            <p>Заказывая недельную консультацию, Вы получите оперативный ответ на интересующий вас вопрос.
                                Программирование или подготовка экзаменам - не важно, я отвечу на любой ваш  вопрос в течение часа
                                в Whatsup или Vk </p>
                        </div>
                        <!-- Seat Rating Fee -->
                        <div class="seat-rating-fee d-flex justify-content-between">
                            <div class="seat-rating h-100 d-flex align-items-center">

{#                                <div class="videos">#}
{#                                    <i class="fa fa-video-camera" aria-hidden="true"></i> {{ countTURTLEVideos }}#}
{#                                </div>#}
                            </div>
                            <div class="course-fee h-100">
                                <a href="#" class="free">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Single Popular Course -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="750ms">
                        <img src="{% static 'base_static/img/bg-img/c3.jpg' %}" alt="">
                        <!-- Course Content -->
                        <div class="course-content">
                            <h4>Подготовка к ЕГЭ/ОГЭ</h4>
                            <div class="meta d-flex align-items-center">
                                <a href="#">60 минут</a>
                                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                <a href="#">1000р</a>

                            </div>
                            <p>Планируешь сдавать ЕГЭ или ОГЭ по информатике и тебе нужен опытный и молодой
                                преподаватель для помощи в подготовке? Обращайся ко мне </p>
                        </div>
                        <!-- Seat Rating Fee -->
                        <div class="seat-rating-fee d-flex justify-content-between">
                            <div class="seat-rating h-100 d-flex align-items-center">
{#                                <div class="tasks">#}
{#                                    <i class="fa fa-tasks" aria-hidden="true"></i> {{ CountTaskOge }}#}
{#                                </div>#}
{#                                <div class="videos">#}
{#                                    <i class="fa fa-video-camera" aria-hidden="true"></i> {{ countOGERazbor }}#}
{#                                </div>#}
                            </div>
                            <div class="course-fee h-100">
                                <a href="#" class="free">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Popular Courses End ##### -->


{% endblock %}

{% block extraJS %}
    <script>
        var openCloseMenu = function (a) {
            if (a == 1) {
                $("#tab--1").addClass("active");
                $("#tab1").addClass("active");
                $("#tab1").addClass("show");
                $("#tab--2").removeClass("active");
                $("#tab2").removeClass("active");
                $("#tab2").removeClass("show");
                $("#tab--3").removeClass("active");
                $("#tab3").removeClass("active");
                $("#tab3").removeClass("show");
            }
            else if (a == 2) {
                $("#tab--1").removeClass("active");
                $("#tab1").removeClass("active");
                $("#tab1").removeClass("show");
                $("#tab--2").addClass("active");
                $("#tab2").addClass("active");
                $("#tab2").addClass("show");
                $("#tab--3").removeClass("active");
                $("#tab3").removeClass("active");
                $("#tab3").removeClass("show");
            }
            else if (a == 3) {
                $("#tab--1").removeClass("active");
                $("#tab1").removeClass("active");
                $("#tab1").removeClass("show");
                $("#tab--2").removeClass("active");
                $("#tab2").removeClass("active");
                $("#tab2").removeClass("show");
                $("#tab--3").addClass("active");
                $("#tab3").addClass("active");
                $("#tab3").addClass("show");
            }
        }


        $(document).ready(function () {
            var a = localStorage.getItem("menuEGE");
            if (isNaN(a)) {
                a = 1;
            }
            ;
            openCloseMenu(a);
        });

        $("#tab--1").click(function (e) {
            e.preventDefault();
            localStorage.setItem("menuEGE", 1);
            openCloseMenu(1);
        });

        $("#tab--2").click(function (e) {
            e.preventDefault();
            localStorage.setItem("menuEGE", 2);
            openCloseMenu(2);
        });

        $("#tab--3").click(function (e) {
            e.preventDefault();
            localStorage.setItem("menuEGE", 3);
            openCloseMenu(3);
        });

        $(document).ready(function () {
            $("#yakor").on("click", "a", function (event) {
                event.preventDefault();
                var id = $(this).attr('href'), top = $(id).offset().top;
                $(id).click();
                $('body,html').animate({scrollTop: top}, 1500);
            });
        });

    </script>
{% endblock %}