{% load staticfiles %}

<!-- ##### Footer Area Start ##### -->
<footer class="footer-area">
    <!-- Top Footer Area -->
    <div class="top-footer-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Footer Logo -->
                    <div class="footer-logo">
                        <a href="index.html">
                            <img src="{% static 'img/core-img/LOGO_bely.png' %}" width="200px" height="15px" alt="">
                        </a>
                    </div>
                    <!-- Copywrite -->
                    <p>
                        <a href="#">
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script>
                            Все права защищены
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Bottom Footer Area -->
    <div class="bottom-footer-area d-flex justify-content-between align-items-center">
        <!-- Contact Info -->
        <div class="contact-info">
            {#            <a href="#"><span>Phone:</span> +44 300 303 0266</a>#}
            <a href="#"><span>Email:</span> egorofartem@gmail.com</a>
        </div>
        <!-- Follow Us -->
        <div class="follow-us">
            <span>СЛЕДИТЕ ЗА НОВОСТЯМИ</span>
            <a href="https://www.facebook.com/groups/egoroffchannel/learning_content/" target="_blank">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="https://www.youtube.com/c/egoroffchannel" target="_blank">
                <i class="fa fa-youtube-square" aria-hidden="true"></i>
            </a>
            {% if 'oge' in request.path %}
                <a href="https://vk.com/egoroff_channel_oge" target="_blank">
                    <i class="fa fa-vk" aria-hidden="true"></i>
                </a>
            {% else %}
                <a href="https://vk.com/egoroff_channel" target="_blank">
                    <i class="fa fa-vk" aria-hidden="true"></i>
                </a>
            {% endif %}


        </div>
    </div>
</footer>
<!-- ##### Footer Area End ##### -->
