{% load staticfiles %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer class="footer">
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-12 footertext">
                <p>ИП Егоров А.В.</p>
                <p>ИНН: 583605680351</p>
                <p>ОГРНИП: 316583500053741</p>
                <p><i class="fa fa-map-pin fa-lg"></i> Россия, Пенза</p>
                <p><i class="fa fa-phone fa-lg"></i> Телефон : +7 902 205 75 09</p>
                <p><i class="fa fa-envelope fa-lg"></i> E-mail : artem_egoroff@ro.ru</p>
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="logofooter"><img src="{% static 'img_base/logo-brand.jpg' %}" alt=""></div>
                <a class="znachokfooter" href="https://vk.com/artem_egoroff" target="_blank" a><i
                        style="color: #2592ca;"
                        class="fa fa-vk fa-4x"
                        aria-hidden="true"></i></a>
                <a class="znachokfooter" href="https://www.facebook.com/artem.egorov.925" target="_blank"><i
                        style="color: #2592ca;"
                        class="fa fa-facebook-square fa-4x"
                        aria-hidden="true"></i></a>
                <a class="znachokfooter"
                   href="https://www.youtube.com/c/egoroffchannel" target="_blank"><i
                        style="color: #2592ca;"
                        class="fa fa-youtube fa-4x znachokfooter"
                        aria-hidden="true"></i></a>


            </div>
            <div class="col-md-4 col-sm-12 ">
                <script type="text/javascript" src="//vk.com/js/api/openapi.js?146"></script>
                <!-- VK Widget -->
                <div id="vk_groups" class="absoluteBlock text-center"></div>
                <script type="text/javascript">
                    VK.Widgets.Group("vk_groups", {
                        mode: 3,
                        color1: 'FFFFFF',
                        color3: '2163AF',
                        width: "360px",
                    }, 116207750);
                </script>
            </div>
        </div>
    </div>
</footer>
