{% load staticfiles %}
<header>
    <header class="header-area">
        <!-- Top Header Area -->
        <div class="top-header-area d-flex justify-content-between align-items-center">
            <!-- Contact Info -->
            <div class="contact-info">
                {#                <a href="#"><span>Phone:</span> +44 300 303 0266</a>#}
                <a href="#"><span>Email:</span> egorofartem@gmail.com</a>
            </div>
            <!-- Follow Us -->
            <div class="follow-us">
                <span>Следите за новостями</span>
                <a href="https://www.facebook.com/groups/egoroffchannel/learning_content/" target="_blank"><i
                        class="fa fa-facebook"
                        aria-hidden="true"></i></a>
                <a href="https://www.youtube.com/c/egoroffchannel" target="_blank"><i class="fa fa-youtube-square"
                                                                                      aria-hidden="true"></i></a>

                {% if 'oge' in request.path %}
                    <a href="https://vk.com/egoroff_channel_oge" target="_blank"><i class="fa fa-vk"
                                                                                    aria-hidden="true"></i></a>
                {% elif 'ege' in request.path %}
                    <a href="https://vk.com/egoroff_channel" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i></a>
                {% else %}
                    <a href="https://vk.com/python.study" target="_blank"><i class="fa fa-vk"
                                                                             aria-hidden="true"></i></a>
                {% endif %}
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="clever-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="cleverNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="{% url 'home:main_page' %}"><img
                            src="{% static 'img/core-img/LOGO.jpg' %}" alt="" width="200px" height="15px"></a>
                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>
                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a href="{% url 'home:main_page' %}">Главная</a></li>
                                <li><a href="#">Экзамены</a>
                                    <ul class="dropdown">
                                        <li><a href="{% url 'ege:base_ege' %}">ЕГЭ Информатика</a></li>
                                        <li><a href="{% url 'oge:base_oge' %}">ОГЭ Информатика</a></li>
                                    </ul>
                                </li>
                                <li><a href="{% url 'videos:videos_python_all' %}">Программирование</a></li>
                                <!-- Register / Login -->
                                {% if user.is_authenticated %}
                                        <li><a href="#">{{ request.user.username }}</a>
                                            <ul class="dropdown">
                                                <li><a href="{% url 'ege:base_ege' %}">Профиль</a></li>
                                                <li><a href="{% url 'logout' %}">Выйти</a></li>
                                            </ul>
                                        </li>
                                        <li class="userthumb">
                                            <img src="{% static 'img/bg-img/t1.png' %}" alt="" height="100px"
                                                 width="165px">
                                        </li>
                                {% else %}
                                    <div class="register-login-area">
                                        <a href="{% url 'sign_up' %}" class="btn">Регистрация</a>
                                        <a href="{% url 'login' %}" class="btn active">Войти</a>
                                    </div>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
</header>

