{% load staticfiles %}
<header>
    <nav id="mainNavBar">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle menu_btn" data-toggle="collapse" data-target="#myNavbar">
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                    </button>
                    <a class="navbar-brand logo" href="{% url 'home:main_page' %}">
                        <img src="{% static 'img_base/logo-brand.jpg' %}" alt="Brand">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="menu">
                        <li {% if request.path == '/' %}class="active"{% endif %}>
                            <a href="{% url 'home:main_page' %}">Главная</a>
                        </li>
                        <li {% if 'ege' in request.path %}class="active"{% endif %}>
                            <a href="{% url 'ege:base_ege' %}">ЕГЭ Информатика</a>
                        </li>
                        <li {% if 'oge' in request.path %}class="active"{% endif %}>
                            <a href="{% url 'oge:base_oge' %}">ОГЭ Информатика</a>
                        </li>
                        <li {% if 'course' in request.path %}class="active"{% endif %}>
                            <a href="{% url 'videos:videos_python_all' %}">Программирование</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="top_line"></div>
        </div>
    </nav>
</header>

