{% extends "baseBoot4.html" %}
{% load static %}
{% block seo_block %}
    <title>{{ number_task.seo_title }}</title>
    <meta name="description" content=" {{ number_task.seo_description }}">
    <meta name="keywords" content="{{ number_task.seo_keywords }}">
{% endblock %}

{% block extracss %}
    <link rel="stylesheet/less" href="{% static 'base_static/css/tasks_detail_less.less' %}" type="text/less">
    <link rel="stylesheet/less" href="{% static 'base_static/css/sidebarMenu.less' %}" type="text/less">
    <link rel="stylesheet/less" href="{% static 'base_static/css/taskCardStyle.less' %}" type="text/less">
    {% if number_task.number in tasks_prism or exam == 'ege_var' or exam == 'oge_var' %}
        <link rel="stylesheet" href="{% static 'base_static/css/css/prism.css' %}">
        <script src="{% static 'base_static/js/prism.js' %}"></script>
    {% endif %}
{% endblock %}

{% block content %}

    <!-- HTML-код модального окна -->
    <div id="myModalBox" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Заголовок модального окна -->
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Основное содержимое модального окна -->
                <div class="modal-body">
                    <h4 class="text-center"><span class="allTaskNumber"></span></h4>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Правильно</th>
                            <th>Ошибки</th>
                            <th>Пустые ответы</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><span class="goodNumber"></span></td>
                            <td><span class="wrongNumber"></span></td>
                            <td><span class="emptyNumber"></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        {% for task in tasks %}
            <li>
                {% if exam == 'ege_var' %}
                    <a href="{% url 'ege:ege_get_var' task.number_var %}">{{ task }}</a>
                {% elif exam == 'oge_var' %}
                    <a href="{% url 'oge:oge_get_var' task.number_var %}">{{ task }}</a>
                {% elif exam == 'ege' %}
                    <a href="{% url 'ege:ege_task_detail' task.number %}">{{ task }}</a>
                {% elif exam == 'oge' %}
                    <a href="{% url 'oge:oge_task_detail' task.number %}">{{ task }}</a>
                {% endif %}

            </li>
        {% endfor %}
        <li><a href="#">Спасибо за внимание</a></li>
    </div>

{#    {% if not user.is_authenticated %}#}
{#        {% include 'partitions/_unregistration_modal.html' %}#}
{#    {% endif %}#}

    <section class="hero-area-tasks bg-img bg-overlay-2by5"
             style="background-image: url({% static 'base_static/img/bg-img/bg1.jpg' %});">
        <div class="container h-75">
            <div class="row h-75 align-items-center">
                <div class="col-12">
                    <!-- Hero Content -->
                    <div class="hero-content text-center">
                        {% if exam == 'ege_var' %}
                            <h2>Вариант ЕГЭ по информатике № {{ number_task.number_var }}</h2>
                        {% elif exam == 'oge_var' %}
                            <h2>Вариант ОГЭ по информатике № {{ number_task.number_var }}</h2>
                        {% elif exam == 'ege' %}
                            <h2>Подготовка к ЕГЭ по Информатике</h2>
                            <h2>Задания на тему "{{ number_task.title }}".</h2>
                        {% elif exam == 'oge' %}
                            <h2>Подготовка к ОГЭ по Информатике</h2>
                            <h2>Задания на тему "{{ number_task.title }}".</h2>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <i id="contents" class="fa fa-bars" onclick="openNav()" aria-hidden="true">
    </i>


    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">

                    <form name="list" method="POST" action="" id="list_questions">
                        {% csrf_token %}

                        {% if exam == 'oge' or exam == 'ege' %}
                            <label class="control-label" for="category_sel">Категория вопросов:</label>
                            <select class="form-control" id="category_sel" name="category_sel">
                                {% for cat in category %}
                                    <option {% if cat.text == text_cat or cat == text_cat %}
                                        selected {% endif %}> {{ cat }}</option>
                                {% endfor %}
                            </select>
                            <br>
                        {% endif %}

                        {% for vopros in questions %}
                            <div class="card card-block bg-light {% if vopros.status %} {{ vopros.status }} {% endif %}"
                                 data-categ="{{ vopros.category }}">
                                {#  here ref of redactor #}
                                {% if '127.0.0.1' in request.META.HTTP_HOST %}
                                    <div class="abs_spanRedact">
                                        {% if exam == 'ege' %}
                                            <a href="http://127.0.0.1:8000/admin/ege/questionsege/{{ vopros.id }}/change/?_changelist_filters=number_of_task__number__exact%3D{{ vopros.number_of_task.number }}"
                                               target="_blank" class="btn btn-info"
                                               role="button"><i class="fa fa-pencil" aria-hidden="true"></i>
                                            </a>
                                        {% elif exam == 'oge' %}
                                            <a href="http://127.0.0.1:8000/admin/oge/questionsoge/{{ vopros.id }}/change/?_changelist_filters=number_of_task__number__exact%3D{{ vopros.number_of_task.number }}"
                                               target="_blank" class="btn btn-info"
                                               role="button"><i class="fa fa-pencil" aria-hidden="true"></i>
                                            </a>
                                        {% endif %}
                                    </div>
                                {% endif %}
                                {#  here ref of redactor#}

                                <div class="abs_span">
                                    {% if exam == 'ege' %}
                                        {% if vopros.q_url_video %}
                                            <a href="{% url 'ege:ege_videotask_detail' id_theme=vopros.number_of_task.number id_task=vopros.q_url_video.id %}"
                                               class="btn" role="button">
                                                <i class="fa fa-video-camera" style="font-size:24px;color:red"></i>
                                            </a>
                                        {% endif %}
                                        <a href="{% url 'ege:ege_get_exercise' id_exercise=vopros.id %}"
                                           class="btn" role="button">
                                            <i class="fa fa-question" style="font-size:24px;color:mediumblue"></i>
                                        </a>
                                    {% elif exam == 'oge' %}
                                        {% if vopros.q_url_video %}
                                            <a href="{% url 'oge:oge_videotask_detail' id_theme=vopros.number_of_task.number id_task=vopros.q_url_video.id %}"
                                               class="btn btn-dark" role="button">
                                                <i class="fa fa-video-camera" aria-hidden="true"></i>
                                            </a>
                                        {% endif %}
                                        <a href="{% url 'oge:oge_get_exercise' id_exercise=vopros.id %}"
                                           class="btn btn-info" role="button">
                                            <i class="fa fa-question" aria-hidden="true"></i>
                                        </a>
                                    {% elif exam == 'ege_var' %}
                                        <a href="{% url 'ege:ege_get_exercise' id_exercise=vopros.id %}"
                                           class="btn" role="button">
                                            <i class="fa fa-question" style="font-size:24px;color:mediumblue"></i>
                                        </a>
                                    {% elif exam == 'oge_var' %}
                                        <a href="{% url 'oge:oge_get_exercise' id_exercise=vopros.id %}"
                                           class="btn btn-info" role="button">
                                            <i class="fa fa-question" aria-hidden="true"></i>
                                        </a>
                                    {% endif %}
                                </div>

                                {#начало вопроса#}

                                {% for part in vopros.get_part_question_1 %}
                                    <p class="text-justify ">
                                        {% if forloop.first %}
                                            {% if exam == 'ege_var' or exam == 'oge_var' %}
                                                {{ vopros.number_of_task.number }})
                                            {% else %}
                                                {{ forloop.parentloop.counter }})
                                            {% endif %}
                                        {% endif %}
                                        {{ part|safe }}
                                    </p>
                                {% endfor %}

                                {% if vopros.picture and vopros.table_data %}
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12 col-sm-4 col-md-4 col-lg-5">
                                                <img src="{{ vopros.picture.url }}"
                                                     class="img-rounded img-responsive">
                                            </div>
                                            <div class="{{ vopros.table_setka }}">
                                                {% for table in vopros.table_in_row %}
                                                    <div class="table-responsive">
                                                        <table class="table table-hover table-striped table-sm {{ vopros.table_style }}">
                                                            {% for rows in table %}
                                                                {% if forloop.first %}
                                                                    <thead>
                                                                    <tr>
                                                                        {% for row in rows %}
                                                                            <th> {% if row == "x" %} &nbsp;&nbsp;
                                                                                &nbsp;{% else %}
                                                                                {{ row }}{% endif %}</th>
                                                                        {% endfor %}
                                                                    </tr>
                                                                    </thead>
                                                                {% else %}
                                                                    {% if forloop.counter == 2 %}
                                                                        <tbody>
                                                                    {% endif %}
                                                                <tr>
                                                                    {% for row in rows %}
                                                                        {% if row %}
                                                                            <td> {% if row == "x" %}
                                                                                &nbsp;
                                                                                &nbsp;
                                                                                &nbsp;{% else %}
                                                                                {{ row }}{% endif %} </td>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </tr>
                                                                {% if forloop.last %}
                                                                    </tbody>
                                                                {% endif %}
                                                                {% endif %}

                                                            {% endfor %}
                                                        </table>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>

                                    {# Проверка на наличие картинки#}
                                {% elif vopros.picture %}
                                    <div class="container">
                                        <div class="row">
                                            <div class="offset-lg-2 offset-md-1 col-12 col-md-10 col-lg-8 col-sm-11 ">
                                                <img src="{{ vopros.picture.url }}"
                                                     class="img-rounded img-responsive ">
                                            </div>
                                        </div>
                                    </div>
                                    {#  Проверка на наличие картинки#}
                                    {% if 'oge' in exam and vopros.file %}
                                        <div class="container">
                                            <div class="row">
                                                <div class="">
                                                    <p class="text-center" style="text-decoration: underline"><a
                                                            href="{{ vopros.file.url }}"
                                                            target="_blank">Скачать файл</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {#  Проверка на наличие таблицы#}
                                {% elif vopros.table_data %}
                                    <div class="container">
                                        <div class="row">

                                            {% for table in vopros.table_in_row %}
                                                <div class="col-12 {{ vopros.table_setka }}">
                                                    <div class="table-responsive">
                                                        <table class="table table-striped {{ vopros.table_style }}">
                                                            {% for rows in table %}

                                                                {% if forloop.first %}
                                                                    <thead>
                                                                    <tr>
                                                                        {% for row in rows %}
                                                                            <th> {% if row == "x" %} &nbsp;&nbsp;
                                                                                &nbsp;{% else %}
                                                                                {{ row|safe }}{% endif %}</th>
                                                                        {% endfor %}
                                                                    </tr>
                                                                    </thead>
                                                                {% else %}

                                                                    {% if forloop.counter == 2 %}
                                                                        <tbody>
                                                                    {% endif %}
                                                                <tr>
                                                                    {% for row in rows %}
                                                                        {% if row %}
                                                                            <td style="width: 30px">
                                                                                {% if row == "x" %}
                                                                                    &nbsp;
                                                                                    &nbsp;
                                                                                    &nbsp;{% else %}
                                                                                    {{ row|safe }}{% endif %} </td>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </tr>
                                                                {% if forloop.last %}
                                                                    </tbody>
                                                                {% endif %}
                                                                {% endif %}

                                                            {% endfor %}
                                                        </table>
                                                    </div>
                                                </div>
                                            {% endfor %}

                                        </div>
                                    </div>
                                {% endif %}
                                {# Проверка на наличие таблицы#}

                                {# Проверка на наличие кода#}
                                {% if vopros.code_python %}
                                    <div class="row blockcode">
                                        <div class="col-md-4">
                                            <pre><code class="language-python">{{ vopros.code_python }}</code></pre>
                                        </div>
                                        <div class="col-md-4">
                                            <pre><code class="language-pascal">{{ vopros.code_pascal }}</code></pre>
                                        </div>
                                        <div class="col-md-4">
                                            <pre><code class="language-cpp">{{ vopros.code_c_plus }}</code></pre>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if vopros.code_executor %}
                                    <div class="row blockcode">
                                        <div class="col-md-offset-1 col-md-4">
                                            <pre><code class="language-python">{{ vopros.code_executor }}</code></pre>
                                        </div>
                                    </div>
                                {% endif %}
                                {# Проверка на наличие кода#}

                                {#Футер вопроса#}

                                {% for part in vopros.get_part_question_2 %}
                                    {% if vopros.picture %}
                                        <p> {{ part|safe }}</p>
                                    {% else %}
                                        <p class="text-justify "> {{ part|safe }}</p>
                                    {% endif %}
                                {% endfor %}

                                {#                                    Футер вопроса#}

                                {#                                    Заполнение формы ответа#}
                                {% if vopros.number_of_task.type_of_answer == 'Input' %}
                                    <div class="form-group form-inline">
                                        <label for="input{{ vopros.id }}">Ваш ответ:</label>
                                        <input type="text" name="input{{ vopros.id }}"
                                               value="{% if vopros.old_answer %}{{ vopros.old_answer }}{% endif %}">
                                    </div>
                                {% elif vopros.number_of_task.type_of_answer == 'Radio' %}
                                    <div class="form-group">
                                        {% for variant_ans in vopros.get_var_answers %}
                                            <div class="radio">
                                                <label><input type="radio"
                                                              {% if forloop.counter|slugify == vopros.old_answer %}checked{% endif %}
                                                              name="radio{{ vopros.id }}"
                                                              value="{{ forloop.counter }}"> {{ variant_ans }} </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% elif vopros.number_of_task.type_of_answer == 'NoInp' %}
                                    <br> <br> <br>
                                {% endif %}

                            </div>
                        {% endfor %}
                        {% if number_task.type_of_answer != 'NoInp' %}
                            <input type="submit" class="btn-success btn-lg " value="Проверить ответы" id="check_ans">
                        {% endif %}

                    </form>
                </div>


                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-6">
                            <div class="post-a-comments mb-70">
                                <h4>Задания взяты из базы данных ФИПИ, сайта <a style="font-size: inherit"
                                                                                href="http://kpolyakov.spb.ru/"
                                                                                target="_blank ">К.Полякова</a> или
                                    придуманы мною</h4>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock %}

{% block extraJS %}

    <script>
        $(document).ready(function () {
            var elemsWrong = $(".wrong");
            var elemsWrongTotal = elemsWrong.length;
            for (var i = 0; i < elemsWrongTotal; ++i) {
                $(elemsWrong[i]).css({'border': "3px solid rgba(255, 0, 0, .5)"});
            }
            elemsGood = $(".good");
            var elemsGoodTotal = elemsGood.length;
            for (var i = 0; i < elemsGoodTotal; ++i) {
                $(elemsGood[i]).css({'border': "3px solid rgba(0, 255, 0, .5)"});
            }
            elemsRadio = $(".radio");
            if (elemsRadio.length > 0 && (elemsWrongTotal > 0 || elemsGoodTotal > 0)) {
                for (var i = 0; i < elemsRadio.length; i += 4) {
                    var wall = $(elemsRadio[i].parentElement.parentElement);
                    if (!(wall.hasClass("wrong") || wall.hasClass("good"))) {
                        wall.addClass("empty");
                    }
                }
            }
            elemsEmpty = $(".empty");
            var elemsEmptyTotal = elemsEmpty.length;
            for (var i = 0; i < elemsEmptyTotal; ++i) {
                $(elemsEmpty[i]).css({'border': "3px solid rgba(0, 0, 255, .5)"});
            }
            if (elemsEmptyTotal > 0 || elemsGoodTotal > 0 || elemsWrongTotal > 0) {
                $(".allTaskNumber").html("Всего заданий: " + String(elemsEmptyTotal + elemsGoodTotal + elemsWrongTotal));
                $(".wrongNumber").html(elemsWrongTotal);
                $(".goodNumber").html(elemsGoodTotal);
                $(".emptyNumber").html(elemsEmptyTotal);
                $("#myModalBox").modal('show');
            }
        })
    </script>

    <script>
        {#фильтруем видео по номеру вопроса#}
        $(document).ready(function () {
            $("#category_sel").on("click", function () {
                var value = $(this).val().toLowerCase();
                console.log(value);
                if (value == "все категории задания") {
                    value = ' ';
                }
                $(".card-block").filter(function () {
                    $(this).toggle($(this).data('categ').toLowerCase().indexOf(value) > -1)
                });
            });
        });

        $(document).ready(function () {
            $('#category_sel').trigger('click');
        });

{#        {% if not user.is_authenticated %}#}
{#            $(document).ready(function () {#}
{#                $("#myModalUnLoginUser").modal('show');#}
{#            });#}
{#        {% endif %}#}

        function openNav() {
            document.getElementById("mySidenav").style.width = "300px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }

        $(".clever-main-menu").unstick();
        $("#contents").sticky({topSpacing: 20});


    </script>
{% endblock %}