{% extends "baseBoot4.html" %}
{% load staticfiles %}
{% block seo_block %}
    <title>{{ videos.0.TITLE }}</title>
    <meta name="description" content=" {{ videos.0.SEO_DESCRIP_ALL }}">
    <meta name="keywords" content="{{ videos.0.SEO_KEYWORDS_ALL }}">
{% endblock %}

{% block extracss %}
    <link rel="stylesheet/less" href="{% static 'css/sidebarMenu.less' %}" type="text/less">
{% endblock %}



{% block content %}


    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <li>
            {% if exam == 'ege' %}
                <a href="{% url 'ege:ege_videotask_AllTask' %}"> Все разборы </a>
            {% elif exam == 'oge' %}
                <a href="{% url 'oge:oge_videotask_AllTask' %}"> Все разборы </a>
            {% endif %}
        </li>
        {% for task in tasks %}
            <li>
                {% if exam == 'ege' %}
                    <a href="{% url 'ege:ege_videotask_ONEtheme' task.number %}">{{ task }}</a>
                {% elif exam == 'oge' %}
                    <a href="{% url 'oge:oge_videotask_ONEtheme' task.number %}">{{ task }}</a>
                {% endif %}
            </li>
        {% endfor %}
        <li><a href="#">Спасибо за внимание</a></li>
    </div>


    <!-- ##### Catagory ##### -->
    <div class="clever-catagory bg-img d-flex align-items-center justify-content-center p-3"
         style="background-image: url({% static 'img/bg-img/bg2.jpg' %});">
        {% if exam == 'ege' %}
            <h2>Видеоразборы задач ЕГЭ по информатике</h2>
        {% elif exam == 'oge' %}
            <h2>Видеоразборы задач ОГЭ по информатике</h2>
        {% endif %}
    </div>

    <i id="contents" class="fa fa-bars" onclick="openNav()" aria-hidden="true">
        Меню</i>


    <!-- ##### Popular Course Area Start ##### -->
    <section class="popular-courses-area section-padding-100">
        <div class="container">
            <div class="row">
                {% for video in videos %}

                    <!-- Single Popular Course -->
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="single-popular-course mb-70 wow fadeInUp" data-wow-delay="250ms">
                            <img src="https://i3.ytimg.com/vi/{{ video.url_video }}/maxresdefault.jpg" alt="">
                            <!-- Course Content -->
                            <div class="course-content">
                                <h6>{{ video.number_of_task }}</h6>
                                <div class="meta d-flex align-items-center">
                                    <a href="#">{{ video.get_category_of_question }}</a>
                                </div>
                            </div>
                            <!-- Seat Rating Fee -->
                            <div class="seat-rating-fee d-flex justify-content-between">
                                <div class="seat-rating h-100 d-flex align-items-center">
                                </div>
                                <div class="course-fee h-100">
                                    {% if exam == 'ege' %}
                                        <a href="{% url 'ege:ege_videotask_detail' id_theme=video.number_of_task.number id_task=video.id %}"
                                           class="free">
                                            Перейти
                                        </a>
                                    {% elif exam == 'oge' %}
                                        <a href="{% url 'oge:oge_videotask_detail' id_theme=video.number_of_task.number id_task=video.id %}"
                                           class="free">
                                            Перейти
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- ##### Popular Course Area End ##### -->


{% endblock %}


{% block extraJS %}
    <script type="text/javascript">
        {#фильтруем видео по номеру вопроса#}
        $(document).ready(function () {
            $("#myInput").on("click", function () {
                var value = $(this).val().toLowerCase();
                console.log(value);
                if (value == "все видеоразборы") {
                    value = ' ';
                }
                $(".single-popular-course").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

        function openNav() {
            document.getElementById("mySidenav").style.width = "300px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
{% endblock %}