{% extends "base.html" %}
{% load staticfiles %}
{% block seo_block %}
    <title>{{ videos.0.TITLE }}</title>
    <meta name="description" content=" {{ videos.0.SEO_DESCRIP_ALL }}">
    <meta name="keywords" content="{{ videos.0.SEO_KEYWORDS_ALL }}">
{% endblock %}

{% block extracss %}
    <link rel="stylesheet/less" href="{% static 'css_base/video_task_list.less' %}" type="text/less">
    <link rel="stylesheet/less" href="{% static 'css_base/mediaTasksDetail.less' %}" type="text/less">
    {% if vopros.code_python %}
        <link rel="stylesheet" href="{% static 'css_base/prism.css' %}">
        <script src="{% static 'js_base/prism.js' %}"></script>
    {% endif %}
{% endblock %}



{% block content %}


    <div class="container-fluid block-video-list">
        <div class="row">
            <div class="col-sm-2 col-md-2 numberTask">
                {#               menu side#}
            </div>

            <div class="col-md-9">
                <h2>Видеоразборы задач ЕГЭ по информатике</h2>
                <select class="form-control" id="myInput" type="text">
                    {% for cat in numbers %}
                        <option {% if forloop.first %}
                            selected {% endif %}> {{ cat }}</option>
                    {% endfor %}
                </select>
                <br>
                <table class="table table-bordered table-responsive table-striped table-razbor">
                    <thead>
                    <tr>
                        <th>Видео</th>
                        <th>Задание</th>
                        <th>Дата добавления</th>
                    </tr>
                    </thead>
                    <tbody id="myTable">
                    {% for video in videos %}
                        <tr class='clickable-row'
                            {% if exam == 'ege' %}
                                data-href='{% url 'ege:ege_videotask_detail' video.id %}'
                            {% elif exam == 'oge' %}
                                data-href='{% url 'oge:oge_videotask_detail' video.id %}'
                            {% endif %}
                        >
                            <td><img class="img-responsive img-rounded"
                                     src="http://i4.ytimg.com/vi/{{ video.url_video }}/default.jpg"></td>
                            <td>
                                Разбор задачи № {{ video.number_of_task}}
                            </td>
                            <td>
                                {{ video.data_add }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <script src="https://apis.google.com/js/platform.js"></script>

                <div class="g-ytsubscribe" data-channelid="UCMcC_43zGHttf9bY-xJOTwA" data-layout="default"
                     data-count="hidden">
                </div>
            </div>
        </div>
    </div>
    </div>


    <script type="text/javascript">
        $(function () {
            $('.list-group a').each(function () {
                var location = window.location.href;
                var link = this.href;
                {#в случае get запроса нужно получить короткий путь#}
                if (location.indexOf('category') >= 0) {
                    var index = location.indexOf('category');
                    location = location.substr(0, index - 1);
                }
                if (location.length == link.length && location.indexOf(link) == 0) {
                    $(this).addClass('active');
                }
            });
        });
        $(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.location = $(this).data("href");
            });
        });

        {#фильтруем видео по номеру вопроса#}
        $(document).ready(function () {
            $("#myInput").on("click", function () {
                var value = $(this).val().toLowerCase();
                console.log(value);
                if (value=="все видеоразборы"){
                    value=' ';
                }
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>


{% endblock %}