{% extends "baseBoot4.html" %}
{% load static %}
{% block seo_block %}
    {% if exam == 'oge' %}
        <title>Разбор ОГЭ Информатика Задание {{ vopros.number_of_task.number }} {{ vopros.number_of_task.title }}</title>
    {% elif exam == 'ege' %}
        <title>Разбор ЕГЭ Информатика Задание {{ vopros.number_of_task.number }} {{ vopros.number_of_task.title }}</title>
    {% endif %}
    <meta name="description" content=" {{ video.seo_description }}">
    <meta name="keywords" content="{{ video.seo_keywords }}">
{% endblock %}

{% block adsense %}
    <script data-ad-client="ca-pub-9687185544108832" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
{% endblock %}

{% block extracss %}
    <link rel="stylesheet/less" href="{% static 'base_static/css/taskCardStyle.less' %}" type="text/less">
    <link rel="stylesheet/less" href="{% static 'base_static/css/videoRazbor.less' %}" type="text/less">
    <link rel="stylesheet/less" href="{% static 'base_static/css/sidebarMenu.less' %}" type="text/less">
    {% if vopros.code_python or 'language-' in vopros.text %}
        <link rel="stylesheet" href="{% static 'css/css/prism.css' %}">
        <script src="{% static 'js/prism.js' %}"></script>
    {% endif %}
{% endblock %}

{% block content %}

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        {% for task in tasks %}
            <li>
                {% if exam == 'ege' %}
                    <a href="{% url 'ege:ege_videotask_ONEtheme' task.number %}">{{ task }}</a>
                {% elif exam == 'oge' %}
                    <a href="{% url 'oge:oge_videotask_ONEtheme' task.number %}">{{ task }}</a>
                {% endif %}
            </li>
        {% endfor %}
        <li><a href="#">Спасибо за внимание</a></li>
    </div>


{#    <div class="clever-catagory bg-img d-flex align-items-center justify-content-center p-3"#}
{#         style="background-image: url({% static 'img/bg-img/bg2.jpg' %});">#}
{#        {% if exam == 'ege' %}#}
{#            <h2>Видеоразборы задач ЕГЭ по информатике</h2>#}
{#        {% elif exam == 'oge' %}#}
{#            <h2>Видеоразборы задач ОГЭ по информатике</h2>#}
{#        {% endif %}#}
{#    </div>#}

    <i id="contents" class="fa fa-bars" style="font-size:30px;cursor:pointer" onclick="openNav()" aria-hidden="true">
        Меню</i>



    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 offset-lg-1 col-lg-10 offset-md-1 col-md-10">
                    <div class="row">
                        {#                        {% if '127.0.0.1' in request.META.HTTP_HOST %}#}
                        {#                            <div class="abs_spanRedact">#}
                        {#                                {% if 'ege' in request.path %}#}
                        {#                                    <a href="http://127.0.0.1:8000/admin/ege/videorazborege/{{ video.id }}/change/"#}
                        {#                                       target="_blank" class="btn btn-info"#}
                        {#                                       role="button">Редактировать#}
                        {#                                    </a>#}
                        {#                                {% elif 'oge' in request.path %}#}
                        {#                                    <a href="http://127.0.0.1:8000/admin/oge/videorazboroge/{{ video.id }}/change/"#}
                        {#                                       target="_blank" class="btn btn-info"#}
                        {#                                       role="button">Редактировать#}
                        {#                                    </a>#}
                        {#                                {% endif %}#}
                        {#                            </div>#}
                        {#                        {% endif %}#}


                        <h2 class="text-center"> Разбор задачи № {{ vopros.number_of_task }}</h2>

                        <div class="videoContainer">
                            <!-- THE YOUTUBE PLAYER -->
                            {#                    <div class="vid-container">#}
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe id="vid_frame" class="embed-responsive-item"
                                        src="https://youtube.com/embed/{{ video.url_video }}?autoplay=1&amp;rel=0&amp;showinfo=0&amp;autohide=1"
                                        frameborder="0" width="854" height="480" allowfullscreen></iframe>
                            </div>

                            <!-- THE PLAYLIST -->
                            <!-- Идея взята -->
                            <!--http://woosterwebdesign.com/responsive-youtube-player-with-playlist/-->
                            <h3 style="margin-top: 10px;border-bottom: 2px solid;border-top: 2px solid"> Теория по
                                задаче</h3>
                            <div class="vid-list-container">
                                <div class="vid-list">

                                    <div class="vid-item"
                                         onclick="document.getElementById('vid_frame').src='https://youtube.com/embed/{{ video.url_video }}?autoplay=1&amp;rel=0&amp;showinfo=0&amp;autohide=1'">
                                        <div class="thumb"><img
                                                src="http://i4.ytimg.com/vi/{{ video.url_video }}/default.jpg">
                                        </div>
                                        <div class="desc">Разбор текущей задачи</div>
                                    </div>
                                    {% if video.treoryKnowledge %}
                                        {% for elem in video.treoryKnowledge.all %}
                                            <div class="vid-item"
                                                 onclick="document.getElementById('vid_frame').src='https://youtube.com/embed/{{ elem.url_video }}?autoplay=1&amp;rel=0&amp;showinfo=0&amp;autohide=1'">
                                                <div class="thumb"><img
                                                        src="http://img.youtube.com/vi/{{ elem.url_video }}/0.jpg">
                                                </div>
                                                <div class="desc">{{ elem.name }}</div>
                                            </div>
                                        {% endfor %}


                                    {% endif %}

                                </div>
                            </div>

                            <!-- LEFT AND RIGHT ARROWS -->
                            <div class="arrows">
                                <div class="arrow-left"><i class="fa fa-chevron-left fa-lg"></i></div>
                                <div class="arrow-right"><i class="fa fa-chevron-right fa-lg"></i></div>
                            </div>

                        </div>


                        <script src="https://apis.google.com/js/platform.js"></script>

                        <div class="g-ytsubscribe" data-channelid="UCMcC_43zGHttf9bY-xJOTwA" data-layout="default"
                             data-count="hidden"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <h3 class="text-center">Условие задачи</h3>

                    <div class="card card-block bg-light {% if vopros.status %} {{ vopros.status }} {% endif %}"
                         data-categ="{{ vopros.category }}">
                        {#  here ref of redactor#}
{#                        {% if '127.0.0.1' in request.META.HTTP_HOST %}#}
{#                            <div class="abs_spanRedact">#}
{#                                {% if exam == 'ege' %}#}
{#                                    <a href="http://127.0.0.1:8000/admin/ege/questionsege/{{ vopros.id }}/change/?_changelist_filters=number_of_task__number__exact%3D{{ vopros.number_of_task.number }}"#}
{#                                       target="_blank" class="btn btn-info"#}
{#                                       role="button">Редактировать#}
{#                                    </a>#}
{#                                {% elif exam == 'oge' %}#}
{#                                    <a href="http://127.0.0.1:8000/admin/oge/questionsoge/{{ vopros.id }}/change/?_changelist_filters=number_of_task__number__exact%3D{{ vopros.number_of_task.number }}"#}
{#                                       target="_blank" class="btn btn-info"#}
{#                                       role="button">Редактировать#}
{#                                    </a>#}
{#                                {% endif %}#}
{#                            </div>#}
{#                        {% endif %}#}
                        {#  here ref of redactor#}

                        {#начало вопроса#}

                        {% for part in vopros.get_part_question_1 %}
                            <p class="text-justify ">
                                {% if forloop.first %}
                                    {{ vopros.id }})
                                {% endif %}
                                {{ part|safe }}
                            </p>
                        {% endfor %}

                           {% if vopros.picture and vopros.table_data %}
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12 col-sm-4 col-md-4 col-lg-5">
                                                <img src="{{ vopros.picture.url }}"
                                                     class="img-rounded img-responsive">
                                            </div>
                                            <div class="col-12 col-sm-8 col-md-8 col-lg-7">
                                                {% for table in vopros.table_in_row %}
                                                    <div class="table-responsive">
                                                        <table class="table table-hover table-striped table-sm oneTable">
                                                            {% for rows in table %}
                                                                {% if forloop.first %}
                                                                    <thead>
                                                                    <tr>
                                                                        {% for row in rows %}
                                                                            <th> {% if row == "x" %} &nbsp;&nbsp;
                                                                                &nbsp;{% else %}
                                                                                {{ row }}{% endif %}</th>
                                                                        {% endfor %}
                                                                    </tr>
                                                                    </thead>
                                                                {% else %}
                                                                    {% if forloop.counter == 2 %}
                                                                        <tbody>
                                                                    {% endif %}
                                                                <tr>
                                                                    {% for row in rows %}
                                                                        {% if row %}
                                                                            <td> {% if row == "x" %}
                                                                                &nbsp;
                                                                                &nbsp;
                                                                                &nbsp;{% else %}
                                                                                {{ row }}{% endif %} </td>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </tr>
                                                                {% if forloop.last %}
                                                                    </tbody>
                                                                {% endif %}
                                                                {% endif %}

                                                            {% endfor %}
                                                        </table>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>

                                    {# Проверка на наличие картинки#}
                                {% elif vopros.picture %}
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-offset-3 col-md-offset-3 col-6 col-md-4 col-lg-3">
                                                <img src="{{ vopros.picture.url }}"
                                                     class="img-rounded img-responsive ">
                                            </div>
                                        </div>
                                    </div>
                                    {#  Проверка на наличие картинки#}

                                    {#                                        Проверка на наличие таблицы#}
                                {% elif vopros.table_data %}
                                    <div class="container">
                                        <div class="row">
                                            {% if vopros.table_in_row|length > 1 %}
                                                {% for table in vopros.table_in_row %}
                                                    <div class="col-12 col-md-6 col-lg-6">
                                                        <div class="table-responsive">
                                                            <table class="table table-striped twoTable">
                                                                {% for rows in table %}

                                                                    {% if forloop.first %}
                                                                        <thead>
                                                                        <tr>
                                                                            {% for row in rows %}
                                                                                <th> {% if row == "x" %} &nbsp;&nbsp;
                                                                                    &nbsp;{% else %}
                                                                                    {{ row }}{% endif %}</th>
                                                                            {% endfor %}
                                                                        </tr>
                                                                        </thead>
                                                                    {% else %}

                                                                        {% if forloop.counter == 2 %}
                                                                            <tbody>
                                                                        {% endif %}
                                                                    <tr>
                                                                        {% for row in rows %}
                                                                            {% if row %}
                                                                                <td style="width: 30px">
                                                                                    {% if row == "x" %}
                                                                                        &nbsp;
                                                                                        &nbsp;
                                                                                        &nbsp;{% else %}
                                                                                        {{ row }}{% endif %} </td>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </tr>
                                                                    {% if forloop.last %}
                                                                        </tbody>
                                                                    {% endif %}
                                                                    {% endif %}

                                                                {% endfor %}
                                                            </table>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            {% else %}
                                                {% for table in vopros.table_in_row %}
                                                    <div class="col-12 col-md-10 col-lg-8">
                                                        <div class="table-responsive">
                                                            <table class="table table-striped oneTable">
                                                                {% for rows in table %}

                                                                    {% if forloop.first %}
                                                                        <thead>
                                                                        <tr>
                                                                            {% for row in rows %}
                                                                                <th> {% if row == "x" %} &nbsp;&nbsp;
                                                                                    &nbsp;{% else %}
                                                                                    {{ row }}{% endif %}</th>
                                                                            {% endfor %}
                                                                        </tr>
                                                                        </thead>
                                                                    {% else %}

                                                                        {% if forloop.counter == 2 %}
                                                                            <tbody>
                                                                        {% endif %}
                                                                    <tr>
                                                                        {% for row in rows %}
                                                                            {% if row %}
                                                                                <td style="width: 30px">
                                                                                    {% if row == "x" %}
                                                                                        &nbsp;
                                                                                        &nbsp;
                                                                                        &nbsp;{% else %}
                                                                                        {{ row }}{% endif %} </td>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </tr>
                                                                    {% if forloop.last %}
                                                                        </tbody>
                                                                    {% endif %}
                                                                    {% endif %}

                                                                {% endfor %}
                                                            </table>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}


                                        </div>
                                    </div>
                                {% endif %}
                                {# Проверка на наличие таблицы#}
                        {#                                    Проверка на наличие кода#}
                        {% if vopros.code_python %}
                            <div class="row blockcode">
                                <div class="col-md-4">
                                    <pre><code class="language-python">{{ vopros.code_python }}</code></pre>
                                </div>
                                <div class="col-md-4">
                                    <pre><code class="language-pascal">{{ vopros.code_pascal }}</code></pre>
                                </div>
                                <div class="col-md-4">
                                    <pre><code class="language-cpp">{{ vopros.code_c_plus }}</code></pre>
                                </div>
                            </div>
                        {% endif %}
                        {% if vopros.code_executor %}
                            <div class="row blockcode">
                                <div class="col-md-offset-1 col-md-4">
                                                <pre><code
                                                        class="language-python">{{ vopros.code_executor }}</code></pre>
                                </div>
                            </div>
                        {% endif %}
                        {#                                    Проверка на наличие кода#}

                        {#                                    Футер вопроса#}

                        {% for part in vopros.get_part_question_2 %}
                            {% if vopros.picture %}
                                <p> {{ part|safe }}</p>
                            {% else %}
                                <p class="text-justify "> {{ part|safe }}</p>
                            {% endif %}
                        {% endfor %}

                        {#                                    Футер вопроса#}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block extraJS %}
    <script>
        $(document).ready(function () {
            $(".arrow-right").bind("click", function (event) {
                event.preventDefault();
                $(".vid-list-container").stop().animate({
                    scrollLeft: "+=336"
                }, 750);
            });
            $(".arrow-left").bind("click", function (event) {
                event.preventDefault();
                $(".vid-list-container").stop().animate({
                    scrollLeft: "-=336"
                }, 750);
            });
        });

        function openNav() {
            document.getElementById("mySidenav").style.width = "300px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
{% endblock %}