{% extends "base.html" %}
{% load staticfiles %}

{% block seo_block %}
    <title>Программирование на языке Python. Репетитор Егоров Артем</title>
    <meta name="description" content="Курс содержит видеоматериалы по всем основным разделам программирования.">
    <meta name="keywords" content="Python, Питон, Программирование на питоне,
    Программирование python, Программист Python, Задача на программирование">
{% endblock %}



{% block extracss %}
    <link rel="stylesheet/less" href="{% static 'videos/css/allThemes.less' %}" type="text/less">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container-fluid block-allThemes">
        <div class="row">
            <div class="col-md-offset-2 col-md-9 col-sm-offset-1 col-sm-10">
                <h2>Язык программирования "{{ allThemes.0.get_language_display }}" </h2>
                <h2>Содержание курса: </h2>
                <div class="list-group listThemes">
                    {% for allTheme in allThemes %}
                        <a href="{% url 'videos:videos_python_theme' allTheme.number_theme %}" class="list-group-item">{{ forloop.counter }}. {{ allTheme.theme }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}