{% extends "baseBoot4.html" %}
{% load static %}

{% block seo_block %}
    <title>Программирование на языке Python #egoroff_channel</title>
    <meta name="description" content="Курс содержит видеоматериалы по всем основным разделам программирования.">
    <meta name="keywords" content="Python, Питон, Программирование на питоне,
    Программирование python, Программист Python, Задача на программирование">
{% endblock %}



{% block extracss %}

{% endblock %}

{% block content %}


    <!-- ##### Catagory ##### -->
    <div class="clever-catagory bg-img d-flex align-items-center justify-content-center p-3"
         style="background-image: url({% static 'base_static/img/bg-img/bg2.jpg' %});">
        <h2>Разборы решения задач</h2>
    </div>


    <!-- ##### Popular Course Area Start ##### -->
    <section class="popular-courses-area section-padding-100">
        <div class="container">
            <div class="row">

                {% for Theme in allThemes %}

                    <!-- Single Popular Course -->
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="single-popular-course mb-70 wow fadeInUp" data-wow-delay="250ms">
                            <img src="http://i3.ytimg.com/vi/{{ Theme.decision }}/maxresdefault.jpg" alt="">
                            <!-- Course Content -->
                            <div class="course-content">
                                <h6>Разбор задачи "{{ Theme.name }}"</h6>
                            </div>
                            <!-- Seat Rating Fee -->
                            <div class="seat-rating-fee d-flex justify-content-between">
                                <div class="seat-rating h-100 d-flex align-items-center">

                                </div>
                                <div class="course-fee h-100">
                                    <a href="{% url 'videos:videos_decision_one' Theme.decision %}"
                                       class="free">
                                        Перейти
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- ##### Popular Course Area End ##### -->
{% endblock %}