{% load static %}
{% load route_video %}

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    {% for oneTheme in allThemes %}
        <li>
            <a href="{% url request.path|get_route oneTheme.slug %}">{{ oneTheme.number_theme }}. {{ oneTheme.theme }}</a>
        </li>

    {% endfor %}
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
</div>


<i id="contents" class="fa fa-bars" onclick="openNav()" aria-hidden="true">
</i>