{% extends "baseBoot4.html" %}
{% load staticfiles %}

{% block adsense %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-9687185544108832",
            enable_page_level_ads: true
        });
    </script>
{% endblock %}

{% block seo_block %}
    <title>{{ Theme.seo_title }}</title>
    <meta name="description" content="{{ Theme.seo_title }}">
    <meta name="keywords" content="{{ Theme.seo_keywords }}">
{% endblock %}


{% block extracss %}
    <link rel="stylesheet/less" href="{% static 'css/videoRazbor.less' %}" type="text/less">
    <link rel="stylesheet/less" href="{% static 'css/sidebarMenu.less' %}" type="text/less">
    <link rel="stylesheet" href="{% static 'css/css/prism.css' %}">
    <script src="{% static 'js/prism.js' %}"></script>

{% endblock %}


{% block content %}

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        {% for oneTheme in allThemes %}
            {% if 'turtle' in request.path %}
                <li>
                    <a href="{% url 'videos:videos_turtle_theme' oneTheme.number_theme %}">{{ forloop.counter }}. {{ oneTheme.theme }}</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'videos:videos_python_theme' oneTheme.number_theme %}">{{ forloop.counter }}. {{ oneTheme.theme }}</a>
                </li>
            {% endif %}
        {% endfor %}
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
    </div>


    {#    <div class="clever-catagory bg-img d-flex align-items-center justify-content-center p-3"#}
    {#         style="background-image: url({% static 'img/bg-img/bg2.jpg' %});">#}
    {#        <h2>Python</h2>#}
    {#    </div>#}

    <i id="contents" class="fa fa-bars" onclick="openNav()" aria-hidden="true">
    </i>


    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 offset-lg-1 col-lg-10 offset-md-1 col-md-10">
                    <div class="row">
                        {% if '127.0.0.1' in request.META.HTTP_HOST %}
                            <div class="abs_spanRedact">

                                <a href="http://127.0.0.1:8000/admin/videos/course/{{ Theme.id }}/change/"
                                   target="_blank" class="btn btn-info"
                                   role="button">Редактировать {{ Theme.id }}
                                </a>

                            </div>
                        {% endif %}


                        <h2 class="text-center"> {{ Theme.number_theme }}. {{ Theme.theme }}</h2>

                        <div class="videoContainer">
                            <!-- THE YOUTUBE PLAYER -->
                            {#                    <div class="vid-container">#}
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe id="vid_frame" class="embed-responsive-item"
                                        src="https://youtube.com/embed/{{ video.url_video }}?autoplay=1&amp;rel=0&amp;showinfo=0&amp;autohide=1"
                                        frameborder="0" width="854" height="480" allowfullscreen></iframe>
                            </div>

                            <!-- THE PLAYLIST -->
                            <!-- Идея взята -->
                            <!--http://woosterwebdesign.com/responsive-youtube-player-with-playlist/-->
                            <h3 class="text-center"
                                style="margin-top: 10px;border-bottom: 2px solid;border-top: 2px solid"> Следующие
                                видео</h3>
                            <div class="vid-list-container">
                                <div class="vid-list">

                                    <div class="vid-item"
                                         onclick="document.getElementById('vid_frame').src='http://youtube.com/embed/{{ video.url_video }}?autoplay=1&amp;rel=0&amp;showinfo=0&amp;autohide=1'">
                                        <div class="thumb"><img
                                                src="http://i4.ytimg.com/vi/{{ video.url_video }}/default.jpg">
                                        </div>
                                        <div class="desc">{{ video.number_theme }}. {{ video.theme }}</div>
                                    </div>
                                    {% if nextThemes %}
                                        {% for elem in nextThemes %}
                                            <div class="vid-item"
                                                 onclick="document.getElementById('vid_frame').src='https://youtube.com/embed/{{ elem.url_video }}?autoplay=1&amp;rel=0&amp;showinfo=0&amp;autohide=1'">
                                                <div class="thumb"><img
                                                        src="http://img.youtube.com/vi/{{ elem.url_video }}/0.jpg">
                                                </div>
                                                <div class="desc">{{ elem.number_theme }}. {{ elem.theme }}</div>
                                            </div>
                                        {% endfor %}


                                    {% endif %}

                                </div>
                            </div>

                            <!-- LEFT AND RIGHT ARROWS -->
                            <div class="arrows">
                                <div class="arrow-left"><i class="fa fa-chevron-left fa-lg"></i></div>
                                <div class="arrow-right"><i class="fa fa-chevron-right fa-lg"></i></div>
                            </div>

                        </div>


                        <script src="https://apis.google.com/js/platform.js"></script>

                        <div class="g-ytsubscribe" data-channelid="UCMcC_43zGHttf9bY-xJOTwA" data-layout="default"
                             data-count="hidden"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% if Theme.article or Theme.tasks.all %}
        <div class="single-course-content section-padding-50">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-9">
                        <div class="course--content">
                            <div class="clever-tabs-content">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    {% if Theme.article %}
                                        <li class="nav-item">
                                            <a class="nav-link active" id="tab--1" data-toggle="tab"
                                               href="#tab1"
                                               role="tab"
                                               aria-controls="tab1" aria-selected="false">Теория</a>
                                        </li>
                                    {% endif %}

                                    {% if Theme.tasks.all %}
                                        <li class="nav-item {% if not Theme.article %} active {% endif %}">
                                            <a class="nav-link" id="tab--2" data-toggle="tab" href="#tab2"
                                               role="tab"
                                               aria-controls="tab2" aria-selected="true">Практика</a>
                                        </li>
                                    {% endif %}
                                </ul>

                                <div class="tab-content" id="myTabContent">
                                    <!-- Tab Text -->
                                    {% if Theme.article %}
                                        <div class="tab-pane fade show active" id="tab1" role="tabpanel"
                                             aria-labelledby="tab--1">
                                            <div class="clever-description">
                                                <!-- About Course -->
                                                <div class="about-course mb-15">
                                                    <p>{{ Theme.article|safe }} </p>
                                                </div>

                                            </div>
                                        </div>
                                    {% endif %}

                                    {% if Theme.tasks.all %}
                                        <!-- Tab Text -->
                                        <div class="tab-pane fade {% if not Theme.article %} show active {% endif %}"
                                             id="tab2" role="tabpanel" aria-labelledby="tab--2">

                                            <div class="clever-description">

                                                <!-- FAQ -->
                                                <div class="clever-faqs">
                                                    <h4>Задачи</h4>

                                                    <div class="accordions" id="accordion" role="tablist"
                                                         aria-multiselectable="true">
                                                        {% for oneTheme in Theme.tasks.all %}
                                                            {% if oneTheme.url_ref %}
                                                                <div class="panel single-accordion">
                                                                    <h6>
                                                                        <a target="_blank"
                                                                           href="{{ oneTheme.url_ref }}">{{ forloop.counter }}. {{ oneTheme.name }} </a>
                                                                    </h6>

                                                                </div>
                                                            {% else %}
                                                                <!-- Single Accordian Area -->
                                                                <div class="panel single-accordion">
                                                                    <h6>
                                                                        <a role="button" class="collapsed"
                                                                           aria-expanded="true"
                                                                           aria-controls="collapse{{ forloop.counter }}"
                                                                           data-parent="#accordion"
                                                                           data-toggle="collapse"
                                                                           href="#collapse{{ forloop.counter }}">{{ forloop.counter }}. {{ oneTheme.name }}
                                                                            <span class="accor-open"><i
                                                                                    class="fa fa-plus"
                                                                                    aria-hidden="true"></i></span>
                                                                            <span class="accor-close"><i
                                                                                    class="fa fa-minus"
                                                                                    aria-hidden="true"></i></span>
                                                                        </a>
                                                                    </h6>
                                                                    <div id="collapse{{ forloop.counter }}"
                                                                         class="accordion-content collapse">
                                                                        <h3 class="text-center">Условие
                                                                            задачи</h3>
                                                                        <p> {{ oneTheme.condition|safe }}</p>
                                                                        {% if oneTheme.examples.all %}
                                                                            <div class="table-responsive table-bordered">
                                                                                <table class="table">
                                                                                    <thead>
                                                                                    <tr>
                                                                                        <th>№</th>
                                                                                        <th>Входные данные</th>
                                                                                        <th>Выходные данные</th>
                                                                                    </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                    {% for example in oneTheme.examples.all %}
                                                                                        <tr>
                                                                                            <td>{{ forloop.counter }}</td>
                                                                                            <td>
                                                                                                {% for row in example.get_rowsInput %}
                                                                                                    {{ row }}
                                                                                                    <br>
                                                                                                {% endfor %}
                                                                                            </td>
                                                                                            <td>
                                                                                                {% for row in example.get_rowsOutput %}
                                                                                                    {{ row }}
                                                                                                    <br>
                                                                                                {% endfor %}
                                                                                            </td>
                                                                                        </tr>
                                                                                    {% endfor %}
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>

                                                                        {% endif %}
                                                                    </div>
                                                                </div>

                                                            {% endif %}

                                                        {% endfor %}

                                                        <!-- Single Accordian Area -->


                                                    </div>

                                                </div>
                                            </div>


                                        </div>

                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-12 col-lg-3">
                        <div class="course-sidebar ">
                            <!-- Buy Course -->
                            {% if 'python' in request.path %}
                                <a target="_blank" href="https://vk.com/topic-177962775_39843736"
                                   class="btn clever-btn mb-30 w-100">Задать вопрос</a>
                            {% elif 'turtle' in request.path %}
                                <a target="_blank" href="https://vk.com/topic-177962775_39843737"
                                   class="btn clever-btn mb-30 w-100">Задать вопрос</a>
                            {% else %}
                                <a target="_blank" href="https://vk.com/topic-116207750_37403417"
                                   class="btn clever-btn mb-30 w-100">Задать вопрос</a>
                            {% endif %}


                            <div class="row">
                                <div class="sidebar-widget col-12 col-sm-6 col-lg-12">
                                    <h4 class="text-center">Donate </h4>

                                    <iframe src="https://money.yandex.ru/quickpay/shop-widget?writer=seller&targets=%D0%9F%D0%BE%D0%B4%D0%B4%D0%B5%D1%80%D0%B6%D0%B0%D1%82%D1%8C%20%D0%BF%D1%80%D0%BE%D0%B5%D0%BA%D1%82&targets-hint=&default-sum=100&button-text=13&hint=&successURL=&quickpay=shop&account=410017907063167"
                                            height="222" frameborder="0" allowtransparency="true" scrolling="no"
                                            style="width: 95%; margin: 0 auto;"></iframe>
                                </div>


                                <div class="sidebar-widget col-12 col-sm-6 col-lg-12">
                                    <h4 class="text-center">Группа </h4>

                                    <script type="text/javascript" src="https://vk.com/js/api/openapi.js?160"></script>

                                    <!-- VK Widget -->
                                    <div id="vk_groups"></div>
                                    <script type="text/javascript">
                                        VK.Widgets.Group("vk_groups", {mode: 3, no_cover: 1}, 177962775);
                                    </script>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}



{% endblock %}

{% block extraJS %}
    <script type="text/javascript">

        $(document).ready(function () {
            $(".arrow-right").bind("click", function (event) {
                event.preventDefault();
                $(".vid-list-container").stop().animate({
                    scrollLeft: "+=336"
                }, 750);
            });
            $(".arrow-left").bind("click", function (event) {
                event.preventDefault();
                $(".vid-list-container").stop().animate({
                    scrollLeft: "-=336"
                }, 750);
            });
        });

        function openNav() {
            document.getElementById("mySidenav").style.width = "300px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
{% endblock %}