{% extends "base.html" %}
{% load staticfiles %}

{% block seo_block %}
    <title>Программирование на языке Python. EGOROFF_CHANNEL. Репетитор Егоров Артем</title>
    <meta name="description" content="{{ Theme.seo_description }}">
    <meta name="keywords" content="{{ Theme.seo_keywords }}">
{% endblock %}


{% block extracss %}
    <link rel="stylesheet/less" href="{% static 'videos/css/oneTheme.less' %}" type="text/less">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css_base/prism.css' %}">
    <script src="{% static 'js_base/prism.js' %}"></script>

{% endblock %}


{% block content %}


    <div class="container-fluid" id="wrapper">
        <div class="row">
            <div id="sidebar-wrapper">
                <!-- Sidebar -->
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="#"> Разделы: </a>
                    </li>
                    {% for oneTheme in allThemes %}
                        <li>
                            <a href="{% url 'videos:videos_python_theme' oneTheme.number_theme %}">
                                {{ forloop.counter }}.{{ oneTheme.theme }}
                            </a>
                        </li>
                    {% endfor %}
                    <li><a href=""> Спасибо за внимание! </a></li>

                </ul>
                <!-- /#sidebar-wrapper -->
            </div>
            <!-- Page Content -->
            <div class="col-md-offset-2 col-md-8" id="page-content-wrapper">
                <span id="menu-checker" style="font-size:30px;cursor:pointer">&#9776; Содержание</span>

                {% if '127.0.0.1' in request.META.HTTP_HOST %}
                    <div class="abs_spanRedact">
                        {% if 'python' in request.path %}
                            <a href="http://127.0.0.1:8000/admin/videos/course/{{ Theme.id }}/change/"
                               target="_blank" class="btn btn-info"
                               role="button">Редактировать
                            </a>
                        {% endif %}
                    </div>
                {% endif %}

                <h1>{{ Theme.theme }}</h1>
                {% if Theme.url_video %}
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" width="854" height="480"
                                src="https:/www.youtube.com/embed/{{ Theme.url_video }}"
                                frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                {% endif %}
                {{ Theme.article|safe }}
                {% if Theme.tasks.all %}
                    <div class="bs-example">
                        <h2 class="text-center">Задачи для самостоятельной работы</h2>
                        <div class="panel-group" id="accordion">
                            {% for task in Theme.tasks.all %}
                                {% if task.url_ref %}
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-sm-9 col-md-8">
                                                    <h4 class="panel-title">
                                                        <a target="_blank" href="{{ task.url_ref }}">
                                                            {{ forloop.counter }}. {{ task.name }}
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div class="col-sm-3 col-md-4">
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-striped active"
                                                             role="progressbar"
                                                             aria-valuenow="task.difficult" aria-valuemin="0"
                                                             aria-valuemax="100"
                                                             style="width:{{ task.difficult }}%">
                                                            {{ task.difficult }}%
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-sm-9 col-md-8">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion"
                                                           href="#collapse{{ forloop.counter }}">
                                                            {{ forloop.counter }}. {{ task.name }}
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div class="col-sm-3 col-md-4">
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-striped active"
                                                             role="progressbar"
                                                             aria-valuenow="task.difficult" aria-valuemin="0"
                                                             aria-valuemax="100"
                                                             style="width:{{ task.difficult }}%">
                                                            {{ task.difficult }}%
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <h3 class="text-center">Условие задачи</h3>
                                                <p> {{ task.condition|safe }}</p>
                                                {% if task.examples.all %}
                                                    <div class="table-responsive table-bordered">
                                                        <table class="table">
                                                            <thead>
                                                            <tr>
                                                                <th>№</th>
                                                                <th>Входные данные</th>
                                                                <th>Выходные данные</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for example in task.examples.all %}
                                                                <tr>
                                                                    <td>{{ forloop.counter }}</td>
                                                                    <td>
                                                                        {% for row in example.get_rowsInput %}
                                                                            {{ row }} <br>
                                                                        {% endfor %}
                                                                    </td>
                                                                    <td>
                                                                        {% for row in example.get_rowsOutput %}
                                                                            {{ row }} <br>
                                                                        {% endfor %}
                                                                    </td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                            {% endfor %}
                        </div>
                    </div>
                {% endif %}


            </div>
            <!-- /#page-content-wrapper -->
        </div>
    </div>


    <script type="text/javascript">
        var openCloseMenu = function () {
            var sect = $("#page-content-wrapper");
            sect.toggleClass("col-md-offset-2");
            if (sect.hasClass("col-md-8")) {
                sect.removeClass("col-md-8");
                sect.addClass("col-md-10");
            }
            else {
                sect.removeClass("col-md-10");
                sect.addClass("col-md-8");
            }
        }
        $(document).ready(function () {
            $('#page-content-wrapper img').addClass('responseImg');
            var a = localStorage.getItem("menu");
            if (isNaN(a)) {
                a = false;
            }
            ;
            if (a == true) {
                $("#wrapper").addClass("checked");
                openCloseMenu();
            }
        });

        $("#menu-checker").click(function (e) {
            e.preventDefault();
            var a = localStorage.getItem("menu");
            localStorage.setItem("menu", a ^ true);
            $("#wrapper").toggleClass("checked");
            openCloseMenu();
        });

    </script>
{% endblock %}