{% extends "base.html" %}
{% load staticfiles %}

{% block seo_block %}
{% endblock %}



{% block extracss %}
    <link rel="stylesheet/less" href="{% static 'videos/css/allThemes.less' %}" type="text/less">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css_base/prism.css' %}">
    <script src="{% static 'js_base/prism.js' %}"></script>
    <style>
        table td {
            vertical-align: middle !important;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="container" style="margin-top: 100px">
        <p>Ниже в таблицы привидены все встроенные методы строк и примеры по их использованию.</p>


        <p>Общая форма записи условного оператора if выглядит следующим образом:</p>
        <pre class="line-numbers"><code class=" language-python">if условие1:  # Инструкция if с условным выражением test1
  блок1      # Ассоциированный блок
elif условие2:  # Необязательные части elif
  блок2
else:    # Необязательный блок else
  блок3
</code></pre>

    </div>
{% endblock %}