{% extends "baseBoot4.html" %}
{% load staticfiles %}

{% block seo_block %}
{% endblock %}



{% block extracss %}
    {#    <link rel="stylesheet/less" href="{% static 'videos/css/allThemes.less' %}" type="text/less">#}
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/css/prism.css' %}">
    <script src="{% static 'js/prism.js' %}"></script>
    <style>
        table td {
            vertical-align: middle !important;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="container" style="margin-top: 100px">


        <h4>Функция filter Python</h4>

        <p>Функция <b>filter</b> является встроенной функцией языка и имеет следующий синтаксис:</p>

        <pre class=" language-python"><code
                class=" language-python">filter(func or None, *iterables) --&gt; filter object </code></pre>

        <p>Функция <b>filter </b>принимает в качестве первого аргумента должна принимать функцию, возвращающую значение
            логического типа (True или False). Вторым аргументом filter принимает итерируемый объект, к которым
            относятся
            списки, кортежи, словари и т.д. Результатом работы функции <b>filter</b> будет <b>filter object</b>, он
            представляет собой итератор, в который войдут все элементы итерируемого объекта, для которых переданная
            функция
            вернула True. Давайте разберем на примере:
        </p>

        <iframe src="https://trinket.io/embed/python3/2d9e81a64c" width="100%" height="200" frameborder="0"
                marginwidth="0" marginheight="0" allowfullscreen></iframe>

        <p> Наша функция f определяет больше ли переданное ей значение десяти или нет. Передавая эту функцию f и список
            а внуть функции
            filter, мы получим в результате только те элементы списка а, которые больше 10. Более короткая запись этого
            кода
            выглядит так:</p>

        <iframe src="https://trinket.io/embed/python3/30551f336a" width="100%" height="200" frameborder="0"
                marginwidth="0" marginheight="0" allowfullscreen></iframe>

        <p>В примере ниже мы отфильтруем список а по четным значениям.</p>
        <iframe src="https://trinket.io/embed/python3/35edd24db4" width="100%" height="200" frameborder="0"
                marginwidth="0" marginheight="0" allowfullscreen></iframe>


        <p>Ниже пример показывает как использовать встроенный функции внутри filter, но подходят для этого примера
            только такие встроенные функции, которые возвращают True или False. Сюда идельно подходит функция bool().
            Она
            возвращает True, если ей передать непустое значение, и возвращает False если значение пустое. К пустым
            значениям
            относятся 0, пустая строка, пустой список и т.д.</p>
        <iframe src="https://trinket.io/embed/python3/d84a0d61ce" width="100%" height="180" frameborder="0"
                marginwidth="0" marginheight="0" allowfullscreen></iframe>


        <p>Также в качестве функции вы можете передавать <b>lambda</b>-выражения. В примере ниже мы отберет только те
            строки из списка, длина которых больше четырех.</p>
        <iframe src="https://trinket.io/embed/python3/b1de55a3c8" width="100%" height="200" frameborder="0"
                marginwidth="0" marginheight="0" allowfullscreen></iframe>


        <p>Также можно передавать внутрь функции filter встроенные методы классов. К примеру, у строк есть такие методы
            как isdigit(), isalpha(), isupper(). Все они возвращают логический тип. Запустите программу ниже и вы
            увидите как они работают.</p>
        <iframe src="https://trinket.io/embed/python3/6a4d206198" width="100%" height="200" frameborder="0"
                marginwidth="0" marginheight="0" allowfullscreen></iframe>



        <p><br></p>
        <p>И пример ниже показывает как можно ввести несколько значений через пробел в одной строке</p>
        <iframe src="https://trinket.io/embed/python3/9e5427e6c9" width="100%" height="200" frameborder="0"
                marginwidth="0" marginheight="0" allowfullscreen=""></iframe>


        <iframe src="https://trinket.io/embed/python3/12a97b508a" width="100%" height="200" frameborder="0"
                marginwidth="0" marginheight="0" allowfullscreen></iframe>


        <p>Lambda функции полезны тогда, когда вам нужна небольшая функция и вы не хотите ее создавать при помощи
            инструкции def. Например, во время вызова у списков метода .sort() можно передать в параметр key функцию.
            Она
            должна возвращать значение, по которому и будет выполняться сортировка. В примере ниже наша анонимная
            функция
            возвращает последнюю цифру числа, и следовательно элементы списка отсортируются по последней цифре.
        </p>

        <iframe src="https://trinket.io/embed/python3/63020d380f" width="100%" height="200" frameborder="0"
                marginwidth="0" marginheight="0" allowfullscreen></iframe>


        <p> При заморозке Функции-генераторы автоматически сохраняют информацию о своем состоянии и в том числе все
            локальные переменные, которые становятся доступны
            сразу же после того, как функция возобновляет свою работу. </p>

        <iframe src="https://trinket.io/embed/python3/4590841404" width="100%" height="250" frameborder="0"
                marginwidth="0" marginheight="0" allowfullscreen></iframe>


        <h4 class="text-center"> Вопросы для проверки пройденного:</h4>
        <ol class="list-group">
            <li class="list-group-item">
                <p>1 Почему следующая программа не работает?</p>
                <pre class=" language-python"><code class=" language-python">C=777
print(c)</code></pre>
            </li>
            <li class="list-group-item">
                <p>2 Почему эта программа не работает?</p>
                <pre class=" language-python"><code class=" language-python">a=10
print(a,b)
b=20</code></pre>
            </li>
        </ol>


        <p> Но вы также в праве изменить это значение.</p>

        <iframe src="https://trinket.io/embed/python3/b26101839b" width="100%" height="200" frameborder="0"
                marginwidth="0" marginheight="0" allowfullscreen></iframe>


        <pre><code class=" language-python">>>> d=int(input())
123
>>> type(d)
class 'int'
>>> d+2
125</code></pre>
        <p>Оборачивая <b>input()</b> функцией <b>int()</b>, мы преобразуем введеную строку в целое число. Но будьте
            аккуратны!
            Если пользователь введет символы, которые нельзя преобразовать к целому числу, получите ошибку
            <b>ValueError</b>.</p>


        <pre><code class=" language-python">d=int(input())
15sdf4
Traceback (most recent call last):
    d=int(input())
ValueError: invalid literal for int() with base 10: '15sdf4'</code></pre>

        <p>Если вам необходимо ввести вещественное число и сохранить его в переменную q, необходимо
            обернуть функцию <b>input()</b> в функцию <b>float()</b></p>

        <pre><code class=" language-python">>>> q=float(input())
4.5
>>> q
4.5
>>> type(q)
class 'float'</code></pre>


        <h5> Заключение</h5>
        <p>Варианты использования функции <b>input()</b></p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>a = input()</b> - если необходимо ввести строку и сохранить ее в переменную а
            </li>
            <li class="list-group-item"><b>a = int(input())</b> - если необходимо ввести целое число и сохранить его в
                переменную а
            </li>
            <li class="list-group-item"><b>a = float(input())</b> - если необходимо ввести вещественное число и
                сохранить его в переменную а
            </li>
        </ul>


    </div>
{% endblock %}