{% extends "baseBoot4.html" %}
{% load staticfiles %}

{% block seo_block %}
{% endblock %}



{% block extracss %}
    {#    <link rel="stylesheet/less" href="{% static 'videos/css/allThemes.less' %}" type="text/less">#}
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/css/prism.css' %}">
    <script src="{% static 'js/prism.js' %}"></script>
    <style>
        table td {
            vertical-align: middle !important;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="container" style="margin-top: 100px">

        <h4>Функция input()</h4>
        <p>Очень часто при написании программы нужно запрашивать какую-либо информацию у пользователя. И после
        того, как он введет необходимые данные, их нужно сохранить в программе. Для обработки пользовательского
        ввода в python существует функция <b>input()</b>.</p>
        <pre><code class=" language-python">>>> a=input()
123
>>> a
'123'
>>> type(a)
class 'str'
>>> a+2
Traceback (most recent call last):
    a+2
TypeError: must be str, not int</code></pre>

        <p>После вызова функции <b>input()</b> программа остановится и будет ждать ввода значений. По окончанию ввода
        нужно нажать <b>Enter</b> и все что было введено сохранится в переменной <b>в виде строки</b>.</p>

        <pre><code class=" language-python">>>> b=input()
hello world!
>>> b
'hello world!'</code></pre>

        <p>Если вам необходимо ввести целое число и сохранить его в переменную d, необходимо поступить следующим
        образом: </p>

        <pre ><code class=" language-python">>>> d=int(input())
123
>>> type(d)
class 'int'
>>> d+2
125</code></pre>
        <p>Оборачивая <b>input()</b> функцией <b>int()</b>, мы преобразуем введеную строку в целое число. Но будьте аккуратны!
        Если пользователь введет символы, которые нельзя преобразовать к целому числу, получите ошибку <b>ValueError</b>.</p>


        <pre><code class=" language-python">d=int(input())
15sdf4
Traceback (most recent call last):
    d=int(input())
ValueError: invalid literal for int() with base 10: '15sdf4'</code></pre>

        <p>Если вам необходимо ввести вещественное число и сохранить его в переменную q, необходимо
            обернуть функцию <b>input()</b> в функцию <b>float()</b></p>

        <pre ><code class=" language-python">>>> q=float(input())
4.5
>>> q
4.5
>>> type(q)
class 'float'</code></pre>


      <h5> Заключение</h5>
        <p>Варианты использования функции <b>input()</b></p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>a = input()</b> - если необходимо ввести строку и сохранить ее в переменную а</li>
            <li class="list-group-item"><b>a = int(input())</b> - если необходимо ввести целое число и сохранить его в переменную а</li>
            <li class="list-group-item"><b>a = float(input())</b> - если необходимо ввести вещественное число и сохранить его в переменную а</li>
        </ul>


    </div>
{% endblock %}